		{# <div class="expandable-item" data-id="{{ element.slug }}"> #}
		{# Fake id #}
		<div class="expandable-item" data-name="">

			<div class="item-wrapper">

				<button class="close-item">
					{% include "ui/icons/times-circle.njk" %}
				</button>

				<div class="cover" style="background-image: url(/assets/ceres-lorem.jpeg);">
					
					<div class="icon">

						{% set cat = element.elementCategory[0] %}

						{% for category in categories %}
							{% if category.slug == cat.slug %}
								{% set cat = category %}
							{% endif %}
						{% endfor %}

						{{ filterIcon(cat.slug, cat.title, cat.mainColor ) }}

						<div class="icon-text">
							<h3>{{ element.title }}</h3>
							<p>{{ generic[lang]['expandable-item'].tap }}</p>
						</div>
					</div>
				</div>
				
				<div class="hidden-tabs">

					<section>
						<div class="head">
							<p>{{ generic[lang]['expandable-item'].overview }}</p>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illo in facere possimus esse consequuntur provident voluptate dolorum saepe sit repellendus sunt illum reiciendis amet corporis, officia blanditiis hic doloribus.</p>
						</div>
					</section>

					<section>
						<div class="head">
							<p>{{ generic[lang]['expandable-item'].context }}</p>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illo in facere possimus esse consequuntur provident voluptate dolorum saepe sit repellendus sunt illum reiciendis amet corporis, officia blanditiis hic doloribus.</p>
						</div>
					</section>

					<section>
						<div class="head">
							<p>{{ generic[lang]['expandable-item'].data }}</p>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illo in facere possimus esse consequuntur provident voluptate dolorum saepe sit repellendus sunt illum reiciendis amet corporis, officia blanditiis hic doloribus.</p>
						</div>
					</section>
				</div>

			</div>

		</div>
		