
<div class="customize-view">
	
	<button class="customize-view-icon">
		{% include "ui/icons/customize-view.njk" %}
		<p>{{ generic[lang]['strings']['customize-view'] }}</p>
	</button>

	<ul>
		<li>
			<input class="custom-input" type="checkbox" id="background-stars" name="background-stars" checked>
			<label for="background-stars">
				<div class="filter-bullet"><div></div></div>
				{{ generic[lang]['strings']['customize-view-options'][0] }}</label>
		</li>
		<li>
			<input class="custom-input" type="checkbox" id="observed-positions" name="observed-positions" checked>
			<label for="observed-positions">
				<div class="filter-bullet"><div></div></div>
				{{ generic[lang]['strings']['customize-view-options'][1] }}</label>
		</li>
		<li>
			<input class="custom-input" type="checkbox" id="discovered-by-rubin" name="discovered-by-rubin" checked>
			<label for="discovered-by-rubin">
				<div class="filter-bullet"><div></div></div>
				{{ generic[lang]['strings']['customize-view-options'][2] }}</label>
		</li>
	</ul>
	
</div>

