{% from 'ui/filter.njk' import filter as filter %}
{% from 'ui/panel-times.njk' import panelTimes as panelTimes %}

<div class="filters-orbit">
	
	<button class="filters-button" data-panel-button="filters" data-animation-type="control-left">
		{% include "ui/icons/filter.njk" %}
	</button>

</div>

<div class="panel" data-panel="filters">

	<div class="panel-top panel-separator">

		<div class="panel-top-content has-icon">
			{% include "ui/icons/filter.njk" %}
			<div>
				<h3>{{ generic[lang].menus['filter-menu'].title }}</h3>
				<h2>{{ generic[lang].menus['filter-menu'].subtitle }}</h2>
			</div>
		</div>

		{{ panelTimes('filters') }}
		
	</div>

	<div class="panel-section panel-separator">
		<h3>{{ generic[lang].menus['filter-menu'].sections[0] }}</h3>
		{{ filter(categories[lang]) }}
	</div>

	<div class="panel-section">
		<h3>{{ generic[lang].menus['filter-menu'].sections[1] }}</h3>

		<div class="distance-input custom-input" name="distance-range" type="double-range" style="--range-1:0;--range-2:1;">
			<p>{{ generic[lang].strings.near }}</p>
			<p>{{ generic[lang].strings.far }}</p>

			<div class="fake-range"></div>

			<div class="handle handle-1"></div>
			<div class="handle handle-2"></div>

			<input type="range" min="0" max="1" value="0" step="0.01" name="near">
			<input type="range" min="0" max="1" value="1" step="0.01" name="far">
		</div>
	</div>

	<div class="bottom-buttons">

		<button data-button="filters-apply" class="ui__button">
			<p>{{ generic[lang].menus['filter-menu']['apply-filter'] }}</p>
		</button>

		<button data-button="filters-reset" class="ui__button ghost-button">
			<p>{{ generic[lang].menus['filter-menu']['reset-filter'] }}</p>
		</button>

	</div>


</div>