{% from 'ui/filter.njk' import filter as filter %}
{% from 'ui/panel-times.njk' import panelTimes as panelTimes %}

<div class="filters">
	
	<button class="filters-button" data-panel-button="filters">
		{% include "ui/icons/filter.njk" %}
	</button>

</div>

<div class="panel" data-panel="filters">

	<div class="panel-top panel-separator">

		{# todo que aixo vingui del back #}
		{# todo que aixo pugui tenir icona #}
		<div class="panel-top-content">
			<h3>Filtering tool</h3>
			<h2>Customize your view</h2>
		</div>

		{{ panelTimes('filters') }}
		
	</div>

	<div class="panel-section panel-separator">
		<h3>Object type</h3>
		{{ filter(categories) }}
	</div>

	<div class="panel-section">
		<h3>Object characteristics</h3>

		<div class="distance-input custom-input" type="double-range" style="--range-1:0;--range-2:1;">
			<p>Near</p>
			<p>Far</p>

			<div class="fake-range"></div>

			<div class="handle handle-1"></div>
			<div class="handle handle-2"></div>

			<input type="range" min="0" max="1" value="0" step="0.01" name="near">
			<input type="range" min="0" max="1" value="1" step="0.01" name="far">
		</div>
	</div>

	<div class="panel-section">

		<div class="filter-buttons">

			<button data-button="filters-apply" class="ui__button">
				<p>Apply Filter</p>
			</button>

			<button data-button="filters-reset" class="ui__button ghost-button">
				<p>Reset Filter</p>
			</button>

		</div>

	</div>

</div>