<div class="search">
	<div class="search-input">

		<button class="search-lense">
			{% include "ui/icons/lense.njk" %}
		</button>
		
		<div class="search-text-input">
		
			<input type="text" placeholder="{{ globals[lang].search.searchPlaceholder }}">
		
			<button class="search-reset">

				{% include "ui/icons/times-circle.njk" %} 

			</button>

		</div>
		
		<button class="search-cancel">
			<p>{{ globals[lang].common.commonCancel }}</p>
		</button>
	</div>
</div>

<div class="search-panel">

	<button data-button="random-search" class="ui__button button_max-size">
		<p>{{ globals[lang].search.showRandomObjectButton }}</p>
	</button>

</div>
