{% from 'ui/panel-times.njk' import panelTimes as panelTimes %}

<div class="share">
	<button class="share-trigger" data-panel-button="share">

		{% include "ui/icons/share.njk" %}

	</button>
</div>


<div class="panel panel-bottom" data-panel="share">

	<div class="panel-top">

		<div class="panel-top-content">
			<h2>{{ globals[lang].share.tabTitle }}</h2>
		</div>

		{{ panelTimes('share', 'small') }}

	</div>

	<div class="panel-section share-buttons-wrapper">
		{% include 'ui/share-buttons.njk' %}
	</div>

</div>

