{% from 'ui/panel-times.njk' import panelTimes as panelTimes %}

<div class="time-picker">
	<button data-panel-button="time-picker" class="orbit-button">
		{% include "ui/icons/time-picker.njk" %}
	</button>
</div>

<div class="panel panel-bottom-center" data-panel="time-picker">

	<div class="panel-top">
		<div></div>
		{{ panelTimes('time-picker', 'small') }}
	</div>

	<div class="panel-section timer-picker-description">
		<p>Slide right/left to go forward/backwards in time</p>
	</div>

	<div class="panel-section time-picker-input-wrapper">

		<div class="time-picker-input">
			<p>Past</p>		
			<p>Future</p>
			<input type="range" min="-1" max="1" step="0.00001" class="custom-input" data-timer="1">
		</div>

		<div class="time-picker-icon">

				{% include "ui/icons/time-picker.njk" %}

		</div>

	</div>

	<div class="panel-section time-picker-details">
		<p>Current date: <span>00/00/0000 - 00:00:00 am</span></p>

		<div>
			<button class="ui__button-small" data-timer="reset">Reset</button>
			<button class="ui__button-small" data-timer="edit">Edit</button>
		</div>
	</div>

	<div class="sub-panel">
		<div>
			<div class="input-wrapper">

					<input type="date">

			</div>
			<div>

			</div>
		</div>

		<div class="buttons-wrapper">

			<button data-button="apply-date" class="ui__button grey-button">
				<p>Go to date</p>
			</button>

			<button data-button="close-edit" class="ui__button ghost-button">
				<p>Cancel</p>
			</button>

		</div>
		
	</div>

</div>

