// COOL
.auth__popup {
	
	* {
		border: none;
	}

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		width: 100%;
	}

	label {
		width: auto;
		padding: 0 20px 0 0;
	}

	input {
		border-bottom: 1px solid var(--white);

		&:focus {
			border-bottom: 1px solid var(--palette-2);
		}
	}

	&.auth__denied {
		input {
			border-bottom: 1px solid var(--red);
		}
	}

	button {
		margin-top: 20px;
		padding: 15px 20px;
		width: 100%;
		text-align: center;
		border: 1px solid white;

		&:hover {
			background-color: var(--palette-2);
			color: var(--palette-0);
			cursor: pointer;
		}
		&:focus {
			border: 1px solid var(--palette-2);
		}
	}
}
