{% macro loop(guidedExperiencesTours, tour, comingSoon = false) %}

{% if comingSoon %}

	{% for experience in guidedExperiencesTours %}

		{% if experience.comingSoon == 'comingSoon'%} 

			{% if experience.tourPicker[0].slug == tour.slug %}

					{% include "tours/preview.njk" %}

			{% endif %}

		{% endif %} 

	{% endfor %}

{% else %}

	{% for experience in guidedExperiencesTours %}

		{% if experience.comingSoon != 'comingSoon'%} 

			{% if experience.tourPicker[0].slug == tour.slug %}

					{% include "tours/preview.njk" %}

			{% endif %}

		{% endif %} 

	{% endfor %}

{% endif %}

{% endmacro %}
