{% macro loop(guidedExperiencesTours, tour, lang) %}

	{% for experience in guidedExperiencesTours %}

			{% if experience.tourPicker[0].slug == tour.slug %}

				<a data-search="{{ experience.title }}" href="{{ '/' + lang + '/' + tour.slug + '/' + experience.slug | url }}" style="--date: {{ loop.index0 }}; --duration: {{experience.duration}}; --complexity: {{experience.complexity}};">
					{% include "tours/preview.njk" %}
				</a>

			{% endif %}

	{% endfor %}

{% endmacro %}
