{% macro loop(guidedExperiencesTours, tour) %}

	{% for experience in guidedExperiencesTours %}

			{% if experience.tourPicker[0].slug == tour.slug %}

					{% include "tours/preview.njk" %}

			{% endif %}

	{% endfor %}

{% endmacro %}
