{% set prev = 0 %}
{% set next = 0 %}

{% for tourItem in tours[lang] %}

  {% if tour == tourItem %}
    {% set current = loop.index0 %}
    {% set prev = loop.index0 - 1 %}
    {% set next = loop.index0 + 1 %}
    {% if prev < 0 %}
      {% set prev = loop.length - 1 %}
    {% endif %}
    {% if next >= loop.length %}
      {% set next = 0 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% set prev = tours[lang][prev] %}
{% set next = tours[lang][next] %}

<a href="{{ '/' + lang + '/' + prev.slug | url }}" class="prev tour-pagination">
	{% include "ui/icons/chev-prev.njk" %}
</a>

<a href="{{ '/' + lang + '/' + next.slug | url }}" class="next tour-pagination">
  {% include "ui/icons/chev-next.njk" %}
</a>