{% set featuredImage = globals[lang].seo.seoImage[0].url  %}
{% if image.length %}
	{% set featuredImage = image[0].url %}
{% endif %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

	<title>{{ globals[lang].seo.seoSiteName}} {{ title or globals[lang].seo.seoTitle }}</title>
	<meta name="Description" content="{{ description or globals[lang].seo.seoDescription }}">

	<meta name="robots" content="noindex,nofollow">
	<meta name="google" content="nositelinkssearchbox">
	<meta name="google" content="notranslate">

	<meta property="og:url" content="{{ '/' | url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title or globals[lang].seo.seoTitle }}">
	<meta property="og:image" content="{{ featuredImage | imageUrl }}" />
	<meta property="og:description" content="{{ description or globals[lang].seo.seoDescription }}" />
	<meta property="og:site_name" content="{{ globals[lang].seo.seoTitle }}">
	<meta property="og:locale" content="en_US">

	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | url }}assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | url }}assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | url }}assets/favicon/favicon-16x16.png">
	{# <link rel="manifest" href="{{ '/' | url }}assets/favicon/site.webmanifest"> #}
	<link rel="shortcut icon" href="{{ '/' | url }}assets/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="{{ '/' | url }}assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#191D29"> 
	
</head>