---
layout: base
pageTemplate: orbit-viewer
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}

{# NAVIGATION #}
{% include 'navigation/navigation.njk' %}

{# BACK #}
{% include 'ui/orbit-viewer/back-button.njk' %}

{# SEARCH #}
{% include 'ui/orbit-viewer/search.njk' %}

{# FILTERS #}
{% include 'ui/orbit-viewer/filters.njk' %}

{# CUSTOMIZE VIEW #}
{% include 'ui/orbit-viewer/customize-view.njk' %}

{# SHARE #}
{% include 'ui/orbit-viewer/share.njk' %}

{# TIME PICKER #}
{% include 'ui/orbit-viewer/time-picker.njk' %}

{# ZOOM #}
<div class="zoom-controller">
  <input class="custom-input" data-zoom="1" type="range" min="0" max="1" step="0.01" value="0.5">
</div>

{# CONTROLS #}
{% include 'ui/orbit-viewer/orbit-controls.njk' %}

{# EXPANDABLE ELEMENTS #}
{% include "ui/expandable-items.njk" %}