---
layout: base
pageTemplate: tours
pagination:
  alias: tour
  data: tours
  size: 1
permalink: "{{ tour.slug | slug }}/"
---
{% from 'tours/loop.njk' import loop as loop %}


{# 
eleventyComputed:
title: "{{ project.seo.title }}"
description: "{{ project.seo.description }}"
image: "{{ project.seo.seo_image }}" #}


<div class="tours-header">
  <h1>Guided experiences</h1>
  <h3>{{ tour.title }}</h3>
  {% include "tours/pagination.njk" %}  
</div>

<div class="tours-filters">
  
  <button class="sort-button">
    
    {% include "ui/icons/sort.njk" %}

    <p>Sort by</p>
  </button>
  
  <button class="search-button">

    {% include "ui/icons/lense.njk" %}
    <p>Search</p>

    <div class="active-search">
      <input type="text" name="tour-search">
      <label for="tour-search">Search</label>
    </div>

  </button>

</div>

{# ACTIVE TOURS #}
<div class="tours-list">
  {{ loop(guidedExperiencesTours, tour ) }}
</div>

<div class="tours-button buttons__wrapper">

  <button data-button="tours-button" class="ui__button">
    {% include "ui/icons/arrow-prev.njk" %}
    <p>Back to guided experiences</p>
  </button>

</div>
