

.ui__button {
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: $font1;
	text-align: center;

	@include bold-3;
	
	padding: var(--distance-20);
	width: 100%;
	height: calc(36px + 1em); // Dobule padding + one line of text
	@include desktop {
		padding: var(--distance-30);
	}

	&.button_max-size {
		@include desktop { max-width: 250px; }
	}

	background-color: var(--green-1);
	border-radius: 5px;

	cursor: pointer;
	
	&:active {
		background-color: var(--teal-2);
	}
}

.ui__button.ghost-button {
	background-color: transparent;
	border: 1px solid var(--white-0);
}

// Arrows
.button_arrow {
	path, line {
		fill: none;
		stroke: var(--white-0);
		stroke-width: 3;
	}
}
.ui__button:has(.button_arrow) {
	.button_arrow {
		display: none;
		@include desktop { display: flex;	}
	}

	@include desktop {
		display: flex;
		justify-content: space-between;

		.button_arrow {
			width: 20px;
		}

		.arrow-next {
			order: 1;
		}

		&:has(.arrow-prev){
			text-align: right;			
		}
	}
}

.ui__button-small {
	background-color: var(--teal-0);
	color: var(--black-0);

	@include normal-1;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: var(--distance-5) var(--distance-10) var(--distance-5);
	border-radius: 5px;
}

.ui__button.square_button {
	border-radius: 0;

	@include desktop {
		margin: var(--distance-30) var(--distance-5);
	}
}