.ui__button {

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: $font1;
	text-align: center;

	@include bold-3;
	
	width: 100%;
	max-width: 300px;
	height: calc(36px + 1em); // Dobule padding + one line of text
	
	padding: var(--distance-20);
	@include desktop { padding: var(--distance-30);	}

	background-color: var(--green-1);
	border-radius: 5px;

	cursor: pointer;

	transition: background-color 0.2s ease-in-out;
	
	&:active,
	&:hover {
		transition: background-color 0.4s ease-in-out;
		background-color: var(--teal-2);
	}
}

.ui__button.center {
	text-align: center;
}

.ui__button.ghost-button,
.ui__button-small.ghost-button {
	background-color: transparent;
	border: 1px solid var(--white-0);
	color: var(--white-0);

	&:active,
	&:hover {
		transition: background-color 0.4s ease-in-out;
		background-color: rgba(255,255,255,0.15);
	}
}

.ui__button.ui__button-thin {
	height: calc(25px + 1em);
	padding: var(--distance-10);
	@include bold-4;
}

// Arrows
.button__icon {
	svg {
		height: 1.5em;
		color: var(--white-0);
	}
}

.ui__button.button__icon {

	svg {
		display: none;
		@include desktop { display: flex;	}
	}
	
	@include desktop {
		display: flex;
		justify-content: space-between;

		p {
			text-align: right;
		}

		&.button__icon {
			svg {
				width: 20px;
			}
		}

		&.icon__right {
			p {
				text-align: left;
			}
			svg {
				order: 1;
			}
		}

		// &:has(.arrow-prev){
		// 	text-align: right;		
			
		// 	p {
		// 		text-align: left;
		// 	}
		// }
	}
}

.ui__button-small {
	background-color: var(--teal-0);
	color: var(--black-0);

	@include normal-2;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: var(--distance-5) var(--distance-10) var(--distance-5);
	border-radius: 5px;
}

.ui__button.square_button {
	border-radius: 0;

	@include desktop {
		margin: var(--distance-30) var(--distance-5);
	}
}

.panel .ui__button {
	max-width: 100%;
}