.share-button {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	.icon {
		width: var(--icon-big);
		height: var(--icon-big);

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 100%;
	}

	svg {
		width: 15px;
	}

	path,
	rect {
		fill: var(--white-0);
	}

	p {
		margin-top: 10px;
		@include light-4;
	}
}

.share-button.get-url {
	.icon {
		background-color: var(--teal-1);
	}
	svg {
		width: 20px;
	}
}
.share-button.facebook {
	.icon {
		background-color: #3d5a99;
	}
	svg {
		width: 11px;
		transform: translateX(-1px);
	}
}
.share-button.twitter {
	.icon {
		background-color: #0f8fff;
	}
	svg {
		width: 19px;
	}
}
.share-button.email {
	.icon {
		background-color: var(--teal-2);
	}
	svg {
		width: 20px;
	}
}

[data-panel="share-nav"]{
	.share-button {
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-bottom: var(--distance-30);
		padding: 0 var(--distance-20);

		p {
			@include bold-3;
		}

		&:hover {
			p {
				color: var(--blue-0);
				text-decoration: underline;
			}
		}
	}
}

.copy-button {
	position: relative;

	.copy {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0;
		@include light-3;
		opacity: 0;
		transition: 0.4s;
	}

	&.copied {
		.copy {
			transition: 0.6s ease-in-out;
			opacity: 1;
			transform: translate(-50%, -100%)
		}
	}
}