.ui-block {
	.navigation,
	.back-button, 
	.search,
	.filters,
	.customize-view,
	.share,
	.time-picker,
	.zoom-controller,
	.orbit-controls{
		transition: opacity 0.5s ease-in-out;
		opacity: 0.3;

		&, * {
			pointer-events: none !important;
		}
	}

	.popup:not(.active){
		transition: opacity 0.5s ease-in-out;
		opacity: 0 !important;

		&, * {
			pointer-events: none !important;
		}
	}
}

.controls-disabled [data-template="orbit-viewer"]{
	&, * {
		pointer-events: none;
	}
}