// Default page template styles
[data-template="customize-orbits"] {

	.text {
		max-width: 800px;

		padding: 0 0 var(--distance-30);
		@include desktop {	padding: 0 0 var(--distance-30);	}

		h2 {
			margin: 0 0 var(--distance-10) 0;		
			@include title-1;

			@include desktop {
				margin: 0 0 var(--distance-40) 0;
			}
		}

		p {
			font-size: 0.8em;
			line-height: 1.5em;

			@include desktop {
				font-size: 1.3rem;
			}
		}
	}

	.filters {
		padding: var(--distance-60) 0 0;

		flex-grow: 1;
		width: 100%;


		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		

		@include desktop {
			display: flex;
			flex-wrap: wrap;
			flex-grow: 0;
			width: 810px;
			justify-content: space-between;
			flex-direction: row;

		}


		li {
			width: 100%;
			@include desktop { width: 50%; }
			max-width: var(--default-max-width);
		}
	}

}

