
[data-template="guided-experiences"] .page-content {

	h1 {
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 0.7rem;
		text-align: center;
	}

	.tour-preview {
		margin: var(--distance-30) 0 0 0;
		width: 100%;
		max-width: var(--default-max-width);
		text-align: center;	

		@include desktop {
			margin: var(--distance-100) 0 0 0;
			max-width: 700px;
		}
	}

	h3 {
		margin: 0 0 15px 0;

		@include bold-2;
	}

	.image {
		border: 1px solid var(--red-0);
		border-radius: 15px;
		width: 100%;

		background-position: center;
		background-size: cover;

		@include aspect-ratio(16,9);
	}

	.image svg {
		position: absolute;
		top: 0;
		right: 7%;
		width: 20%;
		max-width: 100px;

		@include desktop {
			max-width: 50px;
			right: 5%;
		}

		path {
			fill: var(--red-0);
		}

		text {
			fill: var(--white-0);
		
			@include light-2;
			
			&.num {
				@include bold-2;
			}
		}
	}
}