// Center stuff
[data-template="index"]{

	.page-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.center__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		padding: var(--distance-60) 0;
		@include tablet { padding: var(--distance-60); }
		@include desktop { padding: var(--distance-100); }

		img {
			height: 70px;
			@include desktop { height: 110px; }
		}

		text-align: center;

		h1 {
			font-size: 1.2rem;
			margin: var(--distance-60) 0;
			text-transform: uppercase;
			letter-spacing: 0.7rem;
		}

		p {
			font-size: 0.8em;
		}

	}
}

