
[data-template]{

	.page-content {
		background-color: var(--black-alpha);

		padding: var(--distance-40);
		@include tablet { padding: var(--distance-60);	}
		@include desktop { padding: var(--distance-100);	}
	}

}

// Page popup
[data-template="index"],
[data-template="customize-orbits"]{
	display: flex;
	justify-content: center;
	align-items: center;

	.page-content {
		width: auto;

		border: var(--panels-border);
		
		@include desktop {	min-width: 800px; }
		height: auto;
		border-radius: 5px;

	}
}


// Page fullscreen
[data-template="guided-experiences"],
[data-template="tours"],
[data-template="guided-experiences-tours"] {
	overflow-y: auto;

	.page-content {
		width: 100%;
		height: auto;
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}

[data-template="guided-experiences-tours"] .page-content {
	background-color: transparent;
}