
[data-template]{
	--background-fade: rgba(0,0,0,0.9);

	.page-content {
		background-color: var(--background-fade);
	}

}

[data-template="index"]{
	display: flex;
	justify-content: center;
	align-items: center;

	.page-content {
		width: auto;
		
		@include desktop {	min-width: 800px; }
		height: auto;
		border-radius: 5px;

		padding: var(--distance-40);
		@include tablet { padding: var(--distance-60);	}
		@include desktop { padding: var(--distance-100);	}
	}
}