{% macro filterIcon(name, alt, color, background = '#2C3334') %}
	<svg data-icon="{{ name }}" viewBox="0 0 40 40" xml:space="preserve" style="--background: {{ background }}; --color: {{ color }};">
		<title>{{ alt }}</title>
		<path style="fill: var(--background);" d="M20,0c11,0,20,9,20,20s-9,20-20,20S0,31,0,20S9,0,20,0z"/>
		{% include 'ui/filter-icons/' +name + '.njk' %}
	</svg>
{% endmacro %}
 