
.expandable-item {
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;

	&:not(.visible){
		opacity: 0;
		
		&, & * {
			pointer-events: none;
		}
	}

	&.visible {
		opacity: 1;
	}

	* {
		transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
	}
}

.expandable-item {
	position: absolute;

	width: 0;
	height: 0;

	overflow: visible;

	.item-scale-wrapper {
		transform-origin: 50% 100%;
		transition-duration: 0s;
	}
}

.expandable-item .item-wrapper {
	width: 180px;
	height: 0;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, 0%);

	display: flex;
	justify-content: center;
	align-items: center;
}

.expandable-item .close-item {
	position: absolute;
	z-index: 1;

	width: 25px;
	height: 25px;

	padding: var(--distance-5);

	transform: translate(22px, -22px);
	transition-property: opacity transform;

	opacity: 0;

	cursor: pointer;
	
	svg {
		pointer-events: none;

		ellipse {
			fill: var(--red-0);
		}

		path {
			fill: var(--white-1);
		}
	}
}

.expandable-item .cover {
	position: relative;

	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 1px solid var(--white-0);

	background-position: center;
	background-size: cover;

	cursor: pointer;

	transition-property: border-radius, width, height;

	* {
		pointer-events: all;
	}


	.icon {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);

		display: flex;

		transition-property: opacity;

		svg {
			width: var(--icon-medium);
			height: var(--icon-medium);
		}
		
	}

	.icon-text {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 100%);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		color: var(--white-0);

		h3 {
			@include bold-3;
			transition-property: opacity;
		}

		p {
			@include light-4;
			white-space: nowrap;
			transition-property: opacity;
		}

	}

}

.expandable-item.no-picture .cover {
	height: 0;
	width: 0;
}

.hidden-tabs {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	background: var(--white-0);
	transform: translate(0, 100%);

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;

	color: var(--black-0);

	section {
		border-bottom: 1px solid var(--white-2);

		&:last-of-type {
			border-bottom: none;
		}
	}

	.head {
		background-color: var(--white-1);
		
		@include bold-3;

		padding: var(--distance-10);

		display: flex;
		justify-content: space-between;

		transition-property: border;

		cursor: pointer;
	}

	.content {
		transition-property: height, padding;
		overflow: hidden;
		padding: 0 var(--distance-10);
		height: 0px;

		p {
			@include light-3;

			opacity: 0;
			transition-property: opacity;
			
			&:not(:last-of-type){
				margin-bottom: 0.5em;
			}
		}
	}

	section.active {
		.content {
			border-top: 1px solid var(--white-2);
			padding: var(--distance-10);
			height: var(--height);

			p {
				opacity: 1;
			}
		}
	}

}

.expandable-item.visible.active {
	z-index: 100 !important;
	
	.item-wrapper {
		height: 100px;
		transform: translate(-50%, 15px);
	}

	.close-item {
		opacity: 1;
		transform: translate(90px, -50px);
	}

	.cover {
		border-radius: 0%;
		width: 100%;
		height: 100px;
		cursor: default;

		.icon, h3, p {
			opacity: 0;
			pointer-events: none;
		}
	}
	

	.hidden-tabs {
		opacity: 1;
		transition-delay: 0.2s;

		.head {
			pointer-events: all;
		}
	}
}

.expandable-item.visible {

	.close-item,
	.cover{
		pointer-events: all;
	}
}