
.expandable-item {
	opacity: 0;

	&.visible {
		opacity: 1;
	}

	* {
		transition-timing-function: ease-in-out;
		transition-duration: 0.4s;
	}
}

.expandable-item {
	position: absolute;

	width: 0;
	height: 0;

	overflow: visible;
}

.expandable-item .item-wrapper {
	width: 180px;
	height: 100px;

	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	display: flex;
	justify-content: center;
	align-items: center;

	pointer-events: none;
}

.expandable-item .close-item {
	position: absolute;
	z-index: 1;

	width: 30px;
	height: 30px;

	padding: var(--distance-5);

	transform: translate(25px, -25px);
	transition-property: transform;

	pointer-events: all;
	cursor: pointer;
	
	svg {
		pointer-events: none;

		ellipse {
			fill: var(--red-0);
		}

		path {
			fill: var(--white-1);
		}
	}
}

.expandable-item .cover {
	position: relative;

	width: 75px;
	height: 75px;
	border-radius: 100%;
	border: 1px solid var(--white-0);

	background-position: center;
	background-size: cover;

	pointer-events: all;
	cursor: pointer;

	transition-property: border-radius width height;


	.icon {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);

		display: flex;

		transition-property: opacity;

		svg {
			width: 25px;
			height: 25px;
		}
		
	}

	.icon-text {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 100%);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;

		color: var(--white-0);

		h3 {
			@extend %bold-3;
			transition-property: opacity;
		}

		p {
			@extend %title-1;
			white-space: nowrap;
			transition-property: opacity;
		}

	}

}


.hidden-tabs {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;
	background: var(--white-0);
	transform: translate(0, 100%);

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;

	color: var(--black-0);

	section {
		border-bottom: 1px solid var(--white-2);

		&:last-of-type {
			border-bottom: none;
		}
	}

	.head {
		background-color: var(--white-1);
		
		@extend %bold-3;

		padding: var(--distance-10);

		display: flex;
		justify-content: space-between;

		transition-property: border;

		pointer-events: all;
		cursor: pointer;
	}

	.content {
		transition-property: height, padding;
		overflow: hidden;
		padding: 0 var(--distance-10);
		height: 0px;

		p {
			@extend %light-3;

			opacity: 0;
			transition-property: opacity;
		}
	}

	section.active {
		.content {
			border-top: 1px solid var(--white-2);
			padding: var(--distance-10);
			height: var(--height);

			p {
				opacity: 1;
			}
		}
	}

}



.expandable-item.visible.active {

	.close-item {
		transform: translate(90px, -50px);
	}

	.cover {
		border-radius: 0%;
		width: 100%;
		height: 100px;
		cursor: default;

		.icon, h3, p {
			opacity: 0;
			pointer-events: none;
		}
	}
	

	.hidden-tabs {
		opacity: 1;
		transition-delay: 0.2s;
	}
}