
.popup__active {
	cursor: pointer;
	>*:not([class*='popup']){
		opacity: 0.3;
		pointer-events: none;
	}
} 

.popup {
	z-index: $popupIndex;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--palette-0-alpha);
	width: auto;
	height: auto;
	padding: var(--fil-ui-lg-spacing);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border-radius: 2px;
	border: 1px solid var(--white);

	min-width: 350px;

	max-width: 60vw;
	max-height: 80vh;
	overflow-y: auto;

	&.popup__title {
		padding-top: 100px;
	} 

	h3 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		background-color: var(--palette-0-alpha);
		z-index: 1;
		padding: var(--fil-ui-lg-spacing);
		font-size: 20px;
	}
}

.popup__content {
	width: auto;
	min-width: 100%;
}

.popup__times {
	position: absolute;
	top: var(--fil-ui-lg-spacing);
	right: var(--fil-ui-lg-spacing);
	z-index: 2;
} 


// Materials Cleanup
.popup-material__item {
	position: relative;
	padding: var(--fil-ui-lg-spacing) 120px var(--fil-ui-lg-spacing) 0;
	border-top: 1px solid var(--white);

	.popup__material-times {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);

		width: auto;
		font-size: 15px;
	}
}
