.back-button {
	position: absolute;
	top: 0;
	right: 0;

	button {
		padding: var(--distance-10);

		@include desktop {
			padding: var(--distance-10) var(--distance-20);
		}

		svg {
			width: var(--icon-medium);
		}

		path {
			fill: var(--white-0);
		}
	}
}