.back-button {
	position: absolute;
	top: 0;
	right: 0;

	a, button {
		padding: var(--distance-10);
		display: block;

		@include desktop {
			padding: var(--distance-10) var(--distance-20);
		}

		svg {
			width: var(--icon-medium);
			color: var(--white-1);
		}
	}
}