.filters-orbit {
	transform: translateX(var(--distance-15));
	top: 120px;
	left: 0;
	position: absolute;
}

.filters-button {
	z-index: 2;

	width: var(--icon-big);
	height: var(--icon-big);

	background-color: var(--blue-0);


	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100%;

	cursor: pointer;

	svg {
		width: 20px;
	}

}

[type="double-range"] {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 0 var(--distance-60);
	margin: 0 0 var(--distance-40);
	width: 100%;

	h4 {
		@include bold-3;
		margin-bottom: 0;
	}

	.fake-range {	
		z-index: 0;
		position: absolute;
		bottom: 23px;
		left: 50%;
		transform: translateX(-50%);
		
		width: 100%;
		height: 18px;
		
		border: 5px solid var(--black-2);
		background-color: var(--white-0);
		border-radius: 20px;
		pointer-events: none;
	}

	.handle {
		z-index: 1;
		width: 5px;
		height: 10px;

		position: absolute;
		bottom: 0;
				
		background-color: var(--white-0);

		pointer-events: none;
		
		&.handle-1 { 
			transform: translate(calc(50% + 5px), -20px);
			left: calc(var(--range-1) * (100% - 20px));	
		}
		&.handle-2 { 
			transform: translate(calc(50% - 15px), -20px);
			left: calc(var(--range-2) * (100%));	
		}

		.handle-grab {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);

			width: 22px;
			height: 22px;
			background: var(--blue-0);
			border: 3px solid var(--white-0);
			border-radius: 22px;
			pointer-events: all;
			cursor: pointer;
		}

		.tooltip {
			position: absolute;
			bottom: -8px;
			left: 50%;
			padding: 0 5px;
			background: var(--white-0);
			transform: translate(-50%, 100%);
			border-radius: 5px;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			text-align: center;

			@include light-2;
			color: var(--black-1);
			white-space: nowrap;
		}

		.tooltip-active .tooltip {
			opacity: 1;
		}
	}

	input {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}