.filters-orbit {
	transform: translateX(var(--distance-15));
	top: 120px;
	left: 0;
	position: absolute;
}

.filters-button {
	z-index: 2;

	width: var(--icon-big);
	height: var(--icon-big);

	background-color: var(--blue-0);


	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100%;

	cursor: pointer;

	svg {
		width: 20px;
	}

}

.distance-input {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0 0 var(--distance-60);
	margin: 0 10px;

	p {
		@include bold-3;
	}

	.fake-range {	
		z-index: 0;
		position: absolute;
		bottom: 23px;
		left: 50%;
		transform: translateX(-50%);
		
		width: 100%;
		height: 18px;
		
		border: 5px solid var(--black-2);
		background-color: var(--white-0);
		border-radius: 20px;
		pointer-events: none;
	}

	.handle {
		z-index: 1;
		width: 5px;
		height: 10px;

		position: absolute;
		bottom: 0;
		
		transform: translate(calc(-50% + 13px), -20px);
		
		background-color: var(--white-0);

		&.handle-1 {
			left: calc(var(--range-1) * (100% - 22px))
		}
		&.handle-2 {
			left: calc(var(--range-2) * (100% - 22px))
		}
	}

	input {
		position: absolute;
		bottom: 20px;
		left: 0;

		opacity: 1;
		width: 100%;
		height: auto;		

		-webkit-appearance: none;

	}
}

[data-panel="filters"] {
	input[type=range]::-webkit-slider-thumb,
	input[type=range]::-moz-range-track {
		width: 22px;
		height: 22px;
		background: var(--blue-0);
		border: 3px solid var(--white-0);
		border-radius: 22px;
		cursor: pointer;
		pointer-events: all;
		-webkit-appearance: none;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 0px;
		pointer-events: none;
	}
}