
// .navigation {
// 	z-index: $navigationIndex;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

.navigation-button {
	padding: var(--distance-10);
	cursor: pointer;

	@include desktop {
		padding: var(--distance-10) var(--distance-20);
	}

	svg {
		width: var(--icon-medium);
	}

	path {
		stroke: var(--white-1);
		stroke-width: 3;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}

.menu {
	margin: var(--distance-20) 0 0 var(--distance-30);
	padding: 0;

	li {
		list-style: none;
		width: 100%;
		position: relative;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		margin: 0 0 var(--distance-20) 0;

		@extend %bold-3;

		@include device {
			&:last-of-type {
				margin: 0;
			}
		}
	}

	.menu-item {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	svg {
		width: var(--icon-medium);
		height: var(--icon-medium);
		margin: 0 var(--distance-15) 0 0;
	}

}
