
// .navigation {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

.navigation-button {
	padding: var(--distance-10);
	cursor: pointer;

	@include desktop {
		padding: var(--distance-10) var(--distance-20);
	}

	svg {
		width: var(--icon-small);
	}

	path {
		stroke: var(--white-1);
		stroke-width: 3;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}