
// .navigation {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

.navigation-button {
	padding: 10px;
	cursor: pointer;

	@include desktop {
		padding: 10px 20px;
	}

	svg {
		width: 20px;
	}

	path {
		stroke: var(--white-1);
		stroke-width: 3;
		stroke-linecap: round;
		stroke-linejoin: round;
	}
}