.orbit-controls {
	position: absolute;
	bottom: 0;
	right: 0;

	display: flex;
	flex-direction: column;

	padding: var(--distance-15);


	button {
		width: var(--icon-big);
		height: var(--icon-big);

		margin-top: var(--distance-15);

		background-color: var(--black-1);

		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 100%;

		cursor: pointer;

		svg {
			width: 22px;
			color: var(--white-1);
		}
	}
}