
.panel {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	max-width: 380px;
	height: 100vh;

	overflow-y: auto;

	z-index: $panelIndex;

	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
	will-change: transform;

	pointer-events: all;

	&:not(.active){
		pointer-events: none;

		* {
			pointer-events: none;
		}
	}

	&.active {
		transform: translateX(0%);
	}
}

.panel {
	padding: var(--distance-30);
	background-color: var(--black-alpha);
	
	display: flex;
	flex-direction: column;
}

.panel.panel-bottom {
	width: 100%;
	height: auto;

	padding: var(--distance-10) var(--distance-15);

	transform: translateY(100%);
	top: unset;
	bottom: 0;

	&.active {
		transform: translateY(0%);
	}
}

.panel.panel-bottom-center {
	@extend .panel-bottom;

	@include desktop {
		transform: translate(-50%, 100%);
		left: 50%;

		&.active {
			transform: translate(-50%, 0%)
		}
	}
}

.panel-separator {
	padding-bottom: var(--distance-15);
	border-bottom: 1px solid var(--white-2);
}

.panel-section {
	padding-top: var(--distance-15);

	h3 {
		@extend %light-2;
		margin-bottom: var(--distance-10);
	}
}

.panel-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.panel-top-content {
		padding: 0 var(--distance-10) 0 0;
		display: flex;
		flex-direction: column;

		h3 {
			@extend %light-2;
		}

		h2 {
			@extend %bold-2;
		}
	}

	button {
		flex-shrink: 0;
		width: var(--icon-medium);
		height: var(--icon-medium);
		cursor: pointer;

		&.small {
			width: var(--icon-small);
			height: var(--icon-small);
		}
	}
}

.panel-times {
	path {
		fill: var(--white-0);
	}
}