
.search-panel {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	padding: var(--distance-15) var(--distance-20);
	@include desktop {
		padding: var(--distance-60);
	}
	
	opacity: 0;
	pointer-events: none;
	background-color: var(--black-alpha);
	transition: opacity 0.3s ease-in-out;

}

.search-input {
	z-index: 2;
	position: absolute;
	top: 64px;
	left: 0;
	
	padding: 0 var(--distance-15);
	
	width: 100%;
	max-width: 380px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-lense {
	z-index: 2;
	position: absolute;

	width: var(--icon-big);
	height: var(--icon-big);

	background-color: var(--white-0);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100%;
	cursor: pointer;

	svg {
		width: 15px;
	}

	path {
		fill: var(--black-2);
	}
}

.search-text-input {
	z-index: 1;

	display: flex;

	width: 100%;
	height: 40px;

	transform: scaleX(0);
	transform-origin: 20px 50%;

	flex-grow: 1;
	padding: 0 var(--distance-15);

	transition: transform 0.2s ease-in-out;

	@extend %light-2;

	color: var(--black-0);

	&::placeholder {
		color: var(--black-0);
	}

	input {
		padding: 0 var(--distance-30);
		height: 40px;
		border-radius: 0 40px 40px 0;
		background-color: var(--white-0);
		flex-grow: 1;
	}
}

.search-reset {
	position: absolute;
	top: 0;
	right: var(--distance-15);

	width: var(--icon-big);
	height: var(--icon-big);
	
	padding: var(--distance-10);


	opacity: 0;
	transition: opacity 0.2s ease-in-out;

	* {
		pointer-events: none;
	}

	ellipse {
		fill: var(--red-0);
	}

	path {
		fill: var(--white-1);
	}
}

.search-cancel {
	@extend %light-2;

	opacity: 0;

	transition: all 0.2s ease-in-out;
}

body[data-search-state="1"] {

	.search-input {
		z-index: #{$toFrontIndex + 1};
	}

	.search-panel {
		z-index: $toFrontIndex;
		opacity: 1;
		pointer-events: unset;

		button {
			pointer-events: unset;
		}
	}

	.search-lense {
		pointer-events: none;
	}

	.search-cancel {
		opacity: 1;
	}

	.search-text-input {
		transform: scaleX(1);
	}

}

body[data-search-state="2"] {

	.search-input {
		z-index: 6;
	}

	.search-panel {
		z-index: 5;
		opacity: 1;
		pointer-events: unset;

		button {
			pointer-events: unset;
		}
	}

	.search-lense {
		pointer-events: none;
	}

	.search-reset {
		opacity: 1;
	}

	.search-text-input {
		transform: scaleX(1);
	}

	.search-cancel {
		opacity: 1;
	}
}