.share {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: var(--distance-15);
}

.share-trigger {
	z-index: 2;

	width: var(--icon-big);
	height: var(--icon-big);

	background-color: var(--black-1);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100%;

	cursor: pointer;

	svg {
		width: 20px;
		transform: translate(-1px, 0px);
	}

	path {
		fill: var(--white-0);
	}
}

.share-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}