.share {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 var(--distance-15);
}

.share-trigger {
	z-index: 2;
	position: absolute;

	width: 40px;
	height: 40px;

	background-color: var(--black-1);
	transform: translate(0, calc(100vh - 100% - var(--distance-15)));

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100%;

	cursor: pointer;

	svg {
		width: 20px;
		transform: translate(-1px, 0px);
	}

	path {
		fill: var(--white-0);
	}
}

.share-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}