[data-panel="time-picker"]{
	overflow: visible;

	p {
		@extend %light-3;
	}

	span {
		color: var(--white-0);
		
		@extend %bold-3;
	}

}

.time-picker {
	display: flex;
	justify-content: center;

	height: 0;
}

.time-picker-input input[type="range"] {
	-webkit-appearance: none;

	&::-webkit-slider-thumb {
		width: 30px;
		height: 30px;
		background: rgba(255,255,255, 0);
		cursor: pointer;
		pointer-events: all;
		-webkit-appearance: none;
		margin-top: -8px;
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 12px;

		background-color: var(--black-2);
		border-radius: 20px;
	}

}

.time-picker-trigger {
	z-index: 2;

	transform: translateY(-190px);
	transition: transform 0.5s ease-in-out;

	width: 40px;
	height: 40px;

	background-color: var(--black-1);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 100%;

	cursor: pointer;

	svg {
		width: 20px;
	}

	.clock path {
		fill: var(--white-0);
	}

	&.disabled {
		pointer-events: none;
	}
}

.active .time-picker-trigger {
	transform: translateY(-30px) !important;
}

.timer-picker-description {
	text-align: center;
}

.time-picker-input {
	position: relative;
	padding-top: 15px;

	p {
		position: absolute;
		top: 0;
		left: 0;
	}

	p:last-of-type {
		right: 0;
		left: unset;
	}

	input {
		width: 100%;
	}
}

.time-picker-details {
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		display: inline;
		padding: 0 0 0 var(--distance-10);
	}

	div {
		display: flex;
	}

	button {
		margin: 0 0 0var(--distance-15);
	}
}

.sub-panel {
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: 0;

	transform: translateY(100%);
	transition: transform 0.5s ease-in-out;

	padding: var(--distance-10) var(--distance-15);

	background: #000;

	width: 100%;
	height: auto;
	min-height: 100%;

	&.active {
		transform: translateY(0);
	}

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	> div {
		padding: var(--distance-10) 0;
		width: 100%;
	}

	.buttons-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			max-width: calc(50% - var(--distance-5));
		}
	}
}

