.timer {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 20px 20px 28px;
	transition: transform 0.5s ease-in-out;

	.timer-range {	
		display: flex;
		flex-direction: column;

		.timer-labels {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 0 0 10px 0;
			@include light-3;
			transition: opacity 0.5s ease-in-out;
			user-select: none;		
		}

		.fake-range {
			width: calc(var(--time-picker-max-width) - 40px);
			height: 15px;

			background-color: var(--black-2);
			border-radius: 20px;

			display: flex;
			justify-content: center;
			align-items: center;

			position: relative;
			transition: background-color 0.5s ease-in-out;

			.timer-icon {
				z-index: 2;
				width: var(--icon-big);
				height: var(--icon-big);
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--black-1);

				position: absolute;
				top: 50%;
				left: calc(var(--thumb-x) * 100%);	
				transform: translate(-50%, -50%);
				
				cursor: pointer;
				pointer-events: all;

				svg {
					width: 60%;
					height: 60%;
					color: var(--black-1);

					&, * { pointer-events: none; }

					path {
						fill: var(--white-0);
					}
				}
			}

			.timer-chevs {
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-57%);
				color: var(--white-0);
				width: 100%;
  			height: auto;
				max-height: 22px;
			}
		}

		input {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}
	}
}

.timer {

	&.on-top {
		z-index: $toFrontIndex + 2;
	}

	&[state="0"]{ // Hidden
		.timer-labels {
			opacity: 0;
		}
		.fake-range {
			background-color: transparent;
		}

	}
	&[state="1"]{ // Hidden edited
		.timer-labels {
			opacity: 0.5;
		}
		.fake-range {
			background-color: rgba(98,102,102, 0.4);
		}
	}
	&[state="2"]{ // Active
		transform: translate(-50%, -40px);
	}
	&[state="3"]{ // Edited

	}

}

[data-panel="time-picker"] {
	overflow: visible;
	max-width: var(--time-picker-max-width);

	p {
		@include light-3;
	}

	span {
		color: var(--white-0);
		@include bold-3;
	}
}

.timer-picker-description {
	text-align: center;
	padding-bottom: 35px;
	user-select: none;
}

.time-picker-details {
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		display: inline;
		padding: 0 0 0 var(--distance-10);
	}

	div {
		display: flex;
	}

	button {
		margin: 0 0 0 var(--distance-10);
	}
}

[data-panel="time-picker-subpanel"]{
	max-width: var(--time-picker-max-width);
	&.active {
		z-index: $toFrontIndex + 2;
	}
}

.sub-panel {

	width: 100%;
	height: auto;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	> div {
		padding: var(--distance-10) 0;
		width: 100%;
	}

	.buttons-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			max-width: calc(50% - var(--distance-5));
		}
	}

	.date-picker {
		position: relative;

		input[type="date"]{
			width: 100%;
			height: 100%;
			position: absolute;
			opacity: 0;
			&::-webkit-calendar-picker-indicator {
				position: absolute;
				right: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				opacity: 0;
				cursor: pointer;
			}
		}

		display: flex;
		justify-content: space-between;
		align-items: center;

		.date-item {
			padding: var(--distance-10);
			background: var(--white-0);
			color: var(--black-2);
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: calc(33% - var(--distance-5));

			pointer-events: none;
		}

		p {
			@include light-4;
		}

		h4 {
			@include bold-2;
		}
	}

	[lang="en-EN"]{
		.date-picker {
			.date-item:nth-of-type(1){
				order: 2;
			}
			.date-item:nth-of-type(2){
				order: 1;
			}
			.date-item:nth-of-type(3){
				order: 3;
			}
		}
	}
}

.timer-dragging {
	[data-panel="time-picker"],
	.timer {
		p,
		button {
			user-select: none;
		}
	}
}