.zoom-controller {

	--size: 35vh;

	position: absolute;
	top: 50%;
	right: 15px;

	// transform: rotate(90deg);
	
	width: 0;
	height: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		z-index: 2;
		-webkit-appearance: none;
		
		width: var(--size);
		height: 15px;

		position: absolute;
		top: 0;
		left: 0;

		transform-origin: 0 50%;
		transform: rotate(270deg) translate(-50%, -50%);
		
		pointer-events: all;
	}

	input[type=range]::-webkit-slider-thumb {
		width: 22px;
		height: 22px;
		background: var(--blue-0);
		border: 3px solid var(--white-0);
		border-radius: 22px;
		cursor: pointer;
		pointer-events: all;
		-webkit-appearance: none;
		margin-top: -3px;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: var(--size);
		height: 100%;

		background-color: var(--black-2);
		border-radius: 20px;
		pointer-events: all;
	}

	input:before,
	input:after {
		display: inline-block;
		pointer-events: none;
		
		@include light-1;
		font-size: 2rem;

		transform: translateY(-0.5em) rotate(-90deg);
		padding: 0 var(--distance-5);
	}

	input:after {
		content: '+';
	}
	input:before {
		content: '-';
	}
}