.zoom-controller {

	--size: 35vh;

	position: absolute;
	top: 50%;
	right: 20px;

	transform: rotate(90deg);
	
	width: 0;
	height: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;

	input {
		z-index: 2;
		-webkit-appearance: none;
		
		width: var(--size);
		height: 15px;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	input[type=range]::-webkit-slider-thumb {
		width: 22px;
		height: 22px;
		background: var(--blue-0);
		border: 3px solid var(--white-0);
		border-radius: 22px;
		cursor: pointer;
		pointer-events: all;
		-webkit-appearance: none;
		margin-top: -3px;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: var(--size);
		height: 100%;

		background-color: var(--black-2);
		border-radius: 20px;
	}

	input:before,
	input:after {
		display: inline-block;
		font-size: 2.2rem;
		font-weight: 100;
		line-height: 20px;
		transform: translateY(-2px) rotate(-90deg);
		padding: 0 var(--distance-5);
	}

	input:before {
		content: '+';
	}
	input:after {
		content: '-';
	}
}