.zoom-controller {

	--size: 30vh;

	position: absolute;
	top: 50%;
	right: 15px;

	// transform: rotate(90deg);
	
	width: 0;
	height: 0;
	
	display: flex;
	align-items: center;
	justify-content: center;

	.fake-range {	
		z-index: 0;

		background-color: var(--black-2);
		border-radius: 20px;

		width: var(--size);
		height: 12px;
		pointer-events: none;

		position: absolute;
		top: 0;
		left: 0;

		transform-origin: 0 50%;
		transform: rotate(90deg) translate(-50%, 50%);
	}

	input {
		z-index: 2;
		-webkit-appearance: none;
		
		width: var(--size);
		height: 15px;

		position: absolute;
		top: 0;
		left: 0;

		transform-origin: 0 50%;
		transform: rotate(90deg) translate(-50%, 50%);
		
		pointer-events: all;
	}

	input[type=range]::-webkit-slider-thumb {
		width: 22px;
		height: 22px;
		background: var(--blue-0);
		border: 3px solid var(--white-0);
		border-radius: 22px;
		cursor: pointer;
		pointer-events: all;
		-webkit-appearance: none;
		margin-top: -3px;
	}

	input[type=range]::-webkit-slider-runnable-track {
		width: var(--size);
		height: 100%;
		background-color: transparent;
		pointer-events: all;
	}

	div {
		position: absolute;
		left: 50%;
		width: 14px;
		height: 2px;
		background: var(--white-1);
		top: 50%;
	

		&:first-of-type {
			transform: translate(-90%, -16vh);
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				width: 14px;
				height: 2px;
				background: var(--white-1);
				transform-origin: center;
				transform: translate(-50%,-50%) rotate(90deg);
			}
		}

		&:last-of-type {
			transform: translate(-90%, 17.5vh);
		}
		
	}
}