
// Generic
@import './common/partials/resets';
@import './common/partials/mixins';
@import './common/indexes';
@import './common/canvas';

// Vars - fonts 
@import './production/partials/vars';
@import './production/partials/fonts';

// Pages
@import './production/pages/pages';
@import './production/pages/landing';
@import './production/pages/customize-orbits';
@import './production/pages/guided-experiences';
@import './production/pages/buttons-wrapper';

// UI
@import './production/ui/buttons';
@import './production/ui/loader';
@import './production/ui/filters';
@import './production/ui/share-buttons';
@import './production/ui/inputs/radio';

@import './production/animations';


// Orbit viewer
@import './production/ui/orbit-viewer/panel';
@import './production/ui/orbit-viewer/navigation';
@import './production/ui/orbit-viewer/back-button';
@import './production/ui/orbit-viewer/search';
@import './production/ui/orbit-viewer/filters';
@import './production/ui/orbit-viewer/customize-view';
@import './production/ui/orbit-viewer/share';
@import './production/ui/orbit-viewer/zoom-controller';
@import './production/ui/orbit-viewer/time-picker';
@import './production/ui/orbit-viewer/orbit-controls';

// Orbit viewer expendable items 
@import './production/ui/popups/popups';
@import './production/ui/popups/popup-info';
@import './production/ui/popups/popup-label';

// Tours list page
@import './production/tours/tours-page';
@import './production/tours/tours-header';
@import './production/tours/tours-filters';
@import './production/tours/tours-previews';
@import './production/tours/tours-panel';

// Experiences
@import './production/experiences/slides';

@import './production/ui/ui-block';

main {
	z-index: $mainContentIndex;

	color: var(--white-0);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	height: var(--doc-height);
	overflow: hidden;

	&[data-template="orbit-viewer"] {
		pointer-events: none;
	}
}

html {
	background-color: var(--black-0);
}


.to-front {
	z-index: $toFrontIndex;
}

.view {
	transition: opacity 0.5s ease-in-out;
	opacity: 0;

	&.loaded {
		opacity: 1;
	}
}

.page__content.disabled {
	&, * {
		pointer-events: none !important;
	}
}

