
// Generic
@import './common/partials/resets';
@import './common/partials/mixins';
@import './common/indexes';
@import './common/canvas';

// Vars - fonts 
@import './production/partials/vars';
@import './production/partials/fonts';

// UI
@import './production/ui/buttons';
@import './production/ui/categories-filter';
@import './production/ui/share-buttons';

// Full pages
@import './production/landing';
@import './production/customize-orbits';
@import './production/guided-experiences';

// Orbit viewer
@import './production/ui/orbit-viewer/panel';
@import './production/ui/orbit-viewer/navigation';
@import './production/ui/orbit-viewer/back-button';
@import './production/ui/orbit-viewer/search';
@import './production/ui/orbit-viewer/filters';
@import './production/ui/orbit-viewer/customize-view';
@import './production/ui/orbit-viewer/share';
@import './production/ui/orbit-viewer/zoom-controller';
@import './production/ui/orbit-viewer/time-picker';
@import './production/ui/orbit-viewer/orbit-controls';

// Orbit viewer expendable items 
@import './production/ui/expandable-items/expandable-items';
@import './production/ui/expandable-items/expandable-item';

// Tours list page
@import './production/tours/tours-header';
@import './production/tours/tours-filters';
@import './production/tours/tours-previews';
@import './production/tours/tours-button';

// Experiences
@import './production/experiences/slides';

main {
	z-index: $mainContentIndex;

	color: var(--white-0);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

body {
	background-color: var(--black-0);
}

.to-front {
	z-index: $toFrontIndex;
}

.view {
	opacity: 0;
}

.page__orbit-viewer,
.page__guided-experiences-tours {

	.view {
		opacity: 1;
	}
}

.page__content.disabled {
	pointer-events: none !important;
	* {
		pointer-events: none !important;
	}
}

// Exceptions
main[data-template="orbit-viewer"] {
	pointer-events: none;
}