---
layout: base
pageTemplate: customize-orbits
eleventyComputed:
  title: "{{ customizeOrbits[lang].seoTitle }}"
  description: "{{ customizeOrbits[lang].seoDescription }}"
  image: "{{ customizeOrbits[lang].seoImage }}"
---
{% include "pages/customize-orbits.njk" %}
