---
layout: base
pageTemplate: guided-experiences
eleventyComputed:
  title: "{{ guidedExperiences[lang].seoTitle }}"
  description: "{{ guidedExperiences[lang].seoDescription }}"
---
{% include "pages/guided-experiences.njk" %}


