---
layout: base
pageTemplate: index
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}

{% include "pages/index.njk" %}