$duration: (
	'fast': 0.5s,
	'slow': 0.8s,
);

$ease: cubic-bezier(0.7, 0.15, 0, 1);

$alpha: 0.8;

:root {
	--white: #fff;
	--palette-0: rgb(0, 0, 0);
	--palette-0-alpha: rgba(0, 0, 0, #{$alpha});
	--palette-1: rgb(143, 59, 118);
	--palette-1-alpha: rgba(143, 59, 118, #{$alpha});
	--palette-2: #a19e9e;
}
