---
layout: base
pageTemplate: guided-experiences-tours
pagination:
  alias: experience
  data: guidedExperiencesTours.en
  size: 1
permalink: "{{ '/' + lang + '/' + experience.tourPicker[0].slug + '/' + experience.slug | slug }}/index.html"
---

{# 
eleventyComputed:
title: "{{ project.seo.title }}"
description: "{{ project.seo.description }}"
image: "{{ project.seo.seo_image }}" #}

{% include "pages/guided-experiences-tours.njk" %}