
.panel {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	max-width: 380px;
	height: 100vh;

	overflow-y: auto;

	z-index: $panelIndex;

	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
	will-change: transform;

	&.active {
		transform: translateX(0%);
	}
}

.panel {
	padding: 28px 34px;
	background-color: var(--black-alpha);
	
	display: flex;
	flex-direction: column;
}

.panel-separator {
	padding-bottom: 15px;
	border-bottom: 1px solid var(--white-alpha);
}

.panel-section {
	padding-top: 15px;
}

.panel-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.panel-top-content {
		padding: 0 10px 0 0;
		display: flex;
		flex-direction: column;

		h3 {
			font-size: 1rem;
			font-weight: light;
		}

		h2 {
			font-size: 1.1rem;
			font-weight: bold;
		}
	}

	button {
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
}

.panel-times {
	path {
		fill: var(--white-0);
	}
}