<svg viewBox="0 0 21.7 23.4" xml:space="preserve" class="button_arrow arrow-next">
	<path style="stroke: currentColor; stroke-width: 3;" vector-effect="non-scaling-stroke" d="M10.2,22.8l10.2-10.9L10.2,0.7"/>
	<line style="fill: currentColor;" vector-effect="non-scaling-stroke" x1="20.4" y1="11.8" x2="0" y2="11.8"/>
</svg>
