<svg viewBox="0 0 21.1 14.1" xml:space="preserve">
	<rect style="fill: currentColor;" y="11.7" width="7" height="2.3"/>
	<rect style="fill: currentColor;" y="0" width="21.1" height="2.3"/>
	<rect style="fill: currentColor;" y="5.9" width="14.1" height="2.3"/>
</svg>