	<path style="fill:none;stroke:#00BABC;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;" d="M18.9,11c0,4.9-4,8.9-8.9,8.9S1,15.9,1,11C1,6,5,2,9.9,2C14.9,2,18.9,6,18.9,11L18.9,11z"/>
	<path style="fill:none;stroke:#00BABC;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;" d="M7.3,8.3c0.5-1.4,2-2.1,3.4-1.6C11.8,7,12.6,8,12.6,9.2c0,1.8-2.7,2.7-2.7,2.7"/>
	<path style="fill:none;stroke:#00BABC;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;" d="M9.9,15.4L9.9,15.4"/>