.tours-list {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	border-bottom: 1px solid var(--white-2);
	padding: var(--distance-30) 0;
}

.tours-list .item {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: var(--distance-30); 

	padding: 0 var(--distance-20);

	&:last-of-type {
		margin-bottom: 0;
	}

	.thumb {
		width: 50px;
		height: 50px;

		flex-shrink: 0;

		background-position: center;
		background-size: cover;

		border-radius: 100%;
		
		margin-right: var(--distance-15);
	}

	.text {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	h3 {
		@extend %bold-2;
	}

	.sub-text {
		display: flex;
		align-items: center;
		padding-top: var(--distance-5);

		svg {
			max-width: var(--icon-small);
			max-height: var(--icon-small);
			margin-right: var(--distance-10);
		}

		p {
			@extend %bold-3;

			&:first-of-type {
				position: relative;
				padding-right: var(--distance-20);
				margin-right: var(--distance-20);

				&:after {
					content: '';
					height: 1em;
					border-right: 1px solid var(--white-2);
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			span {
				display: inline-block;
				
				border-radius: 100%;

				width: 5px;
				height: 5px;
				background-color: var(--white-2);

				margin: 0 0 0 var(--distance-5);

				&.active {
					background-color: var(--white-0);
				}
			}
		}
	}

}
