.tours-filters {
	width: 100%;

	@include device {
		border-bottom: 1px solid var(--white-2);
	}

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: var(--distance-15);
	@include desktop {
		padding: var(--distance-30);

		max-width: var(--default-max-width);
	}

	button {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		width: 50%;

		cursor: pointer;

		&:last-of-type {
			justify-content: flex-end;
		}
	}

	svg {
		width: 18px;
		margin-right: 10px;
	}

	.sort-button {
		rect {
			fill: var(--white-0);
		}
	}

	.search-button {
		p {
			color: var(--teal-0)
		}
		path {
			fill: var(--teal-0);
		}
	}

	.search-button {
		.active-search {
			display: none;
		}
	}
}
