.tours-list {
	width: 100%;

	display: flex;

	padding: var(--distance-30);

	@include device {
		border-bottom: 1px solid var(--white-2);
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-bottom: 0;
	}

	@include desktop {
		width: auto;

	}


	a {
		width: 100%;
		max-width: 400px;
		flex-grow: 0;
		flex-shrink: 0;

		@include mobile {
			padding: 0 0 var(--distance-30);
		}
	}
}

.tours-list-wrapper {
	width: 100%;
	@include desktop {
		overflow-x: auto;
		padding: 0 var(--distance-30);
	}
}


// Sorts
.tours-list {

	a.hidden {
		display: none;
	}

	&[sort="new"],
	&[sort="old"]{
		a {
			order: var(--date);
		}
	}

	&[sort="less-duration"],
	&[sort="more-duration"]{
		a {
			order: var(--duration);
		}
	}

	&[sort="less-complexity"],
	&[sort="more-complexity"] {
		a {
			order: var(--complexity);
		}
	}

	&[sort="old"],
	&[sort="more-complexity"],
	&[sort="more-duration"] {

		@include device {
			flex-direction: column-reverse;
		}
		@include desktop {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

	}
}


