<!DOCTYPE html>
<html lang="en-US" style="opacity:0;">

	{% include 'head.njk' %}

	<link rel="stylesheet" href="{{ '../production/bundle/main.css' }}"/>

	<script>
		const data = {};
	</script>

	<body>

		<div class="site__wrapper">
			{% block content %}
				<main data-template="{{ pageTemplate }}" class="page__content" style="opacity: 0;">
					{{ content | safe }}
				</main>
			{% endblock %}
		</div>

		<script src="{{ '../production/bundle/main.js' }}"></script>

	</body>
</html>