<!DOCTYPE html>
<html lang="en-US">

	{% include 'head.njk' %}

	<link rel="stylesheet" href="{{ 'production/bundle/main.css' }}"/>


	<script>
		const data = {};
	</script>

	<body class="loader__in-progress">

		<div class="site__loader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    {% block content %}
			<main data-template="{{ pageTemplate }}">{{ content | safe }}</main>
		{% endblock %}

		<script src="{{ 'production/bundle/main.js' }}"></script>

	</body>
</html>