{% from 'ui/filter-icons/filter-icon.njk' import filterIcon as filterIcon %}

{% set cat = element.elementCategory[0] %}

{% for category in categories[lang] %}
	{% if category.slug == cat.slug %}
		{% set cat = category %}
	{% endif %}
{% endfor %}

<div class="popup-label" data-name="{{ element.elementID }}">
	<div class="icon">

		{{ filterIcon(cat.slug, cat.title, cat.mainColor ) }}

		<div class="icon-text">
			<h3>{{ element.title }}</h3>
			<p>{{ generic[lang]['popups'].tap }}</p>
		</div>
	</div>
</div>

<div class="popup-info" data-name="{{ element.elementID }}">	

	<button class="close-item">
		{% include "ui/icons/times-circle.njk" %}
	</button>

	<div class="cover" style="background-image: url(/assets/ceres-lorem.jpeg);"></div>
	
	<div class="hidden-tabs">

		<section>
			<div class="head">
				<p>{{ generic[lang].popups.overview }}</p>
			</div>
			<div class="content">
				<div>
					<p>{{ generic[lang].popups.overviewStrings[0] }}</p>
					<h3>Lorem</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.overviewStrings[1] }}</p>
					<h3>Lorem</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.overviewStrings[2] }}</p>
					<h3>Lorem</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.overviewStrings[3] }}</p>

					<div class="slide">
						
						<div class="labels">
							<p>{{ generic[lang].strings.near }}</p>
							<p>{{ generic[lang].strings.far }}</p>
						</div>
						
						<div class="slide-bg">
							<div class="item-position"></div>
							<div class="item-range"></div>
						</div>

						<div class="slide-legend">
							<p>{{ generic[lang].popups.overviewStrings[4] }}</p>
							<p>{{ generic[lang].popups.overviewStrings[5] }}</p>
						</div>
					</div>
					{# todo share button #}
					<button class="ui__button ui__button-thin">{{ generic[lang].strings.share }}</button>
				</div>
			</div>
		</section>

		{% if element.text %}
			<section>
				<div class="head">
					<p>{{ generic[lang].popups.context }}</p>
				</div>
				<div class="content overview">
					<div>
						{{ element.text | safe }}
					</div>
				</div>
			</section>
		{% endif %}

		<section>
			<div class="head">
				<p>{{ generic[lang].popups.detailedData }}</p>
			</div>
			<div class="content">
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[0] }}</p>
					<h3>Lorem</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[1] }}</p>
					<h3>Lorem</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[2] }}</p>
					<h3>Lorem</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[3] }}</p>
					<h3>Lorem</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[4] }}</p>
					<p>{{ generic[lang].popups.detailedDataStrings[5] }}</p>
					<p>{{ generic[lang].popups.detailedDataStrings[6] }}</p>

					<button class="ui__button ui__button-thin">{{ generic[lang].popups.detailedDataStrings[7] }}</button>
				</div>
			</div>
		</section>
	</div>

</div>
