{% from 'ui/filter-icons/filter-icon.njk' import filterIcon as filterIcon %}

{% set cat = element.elementCategory[0] %}

{% for category in categories[lang] %}
	{% if category.slug == cat.slug %}
		{% set cat = category %}
	{% endif %}
{% endfor %}

<div class="popup-label" data-name="{{ element.elementID }}">
	<div class="icon">

		{{ filterIcon(cat.slug, cat.title, cat.mainColor ) }}

		<div class="icon-text">
			<h3>{{ element.title }}</h3>
			<p>{{ generic[lang]['popups'].tap }}</p>
		</div>
	</div>
</div>

<div class="popup-info" data-name="{{ element.elementID }}" data-category="{{ cat.slug }}">	

	<button class="close-item">
		{% include "ui/icons/times-circle.njk" %}
	</button>

	<div class="cover" style="background-image: url(/assets/ceres-lorem.jpeg);"></div>
	
	<div class="hidden-tabs">

		<section>
			<div class="head">
				<p>{{ generic[lang].popups.overview }}</p>
				<div class="cross"></div>
			</div>
			<div class="content">
				<div>
					<p>{{ generic[lang].popups.overviewStrings[0] }}</p>
					<h3>{{ cat.title }}</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.overviewStrings[1] }}</p>
					<h3 data="name">Loading...</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.overviewStrings[2] }}</p>
					<h3>{{ (element.elementDiameter).toFixed(2) }} km ({{ (element.elementDiameter * 0.621371).toFixed(2) }} mi)</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.overviewStrings[3] }}</p>

					<div class="slide slide-loading" data="sun-distance" style="--item-position: 50%; --item-range: 50%; --item-range-position: 50%;">
						
						<div class="labels">
							<p>{{ generic[lang].strings.near }}</p>
							<p>{{ generic[lang].strings.far }}</p>
						</div>
						
						<div class="slide-bg">
							<div class="item-position"></div>
							<div class="item-range"></div>
						</div>

						<div class="slide-legend">
							<p>{{ generic[lang].popups.overviewStrings[4] }}</p>
							<p>{{ generic[lang].popups.overviewStrings[5] }}</p>
						</div>
					</div>
					{# todo share button #}
					<button class="ui__button ui__button-thin">{{ generic[lang].strings.share }}</button>
				</div>
			</div>
		</section>

		{% if element.text %}
			<section>
				<div class="head">
					<p>{{ generic[lang].popups.context }}</p>
					<div class="cross"></div>
				</div>
				<div class="content overview">
					<div>
						{{ element.text | safe }}
					</div>
				</div>
			</section>
		{% endif %}

		<section>
			<div class="head">
				<p>{{ generic[lang].popups.detailedData }}</p>
				<div class="cross"></div>
			</div>
			<div class="content">
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[0] }}</p>
					<h3 data="name">Loading...</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[1] }}</p>
					<div class="orbital-elements">

						<p class="label cell-1">a<span data="a"></span></p>
						<div class="slide slide-simple cell-2" data-slider="a" style="--item-position: 50%;">
							<p>0</p>
							<div class="slide-bg">
								<div class="item-position"></div>
							</div>
							<p>100</p>
						</div>

						<p class="label cell-3">e<span data="e"></span></p>
						<div class="slide slide-simple cell-4" data-slider="e" style="--item-position: 50%;">
							<p>0</p>
							<div class="slide-bg">
								<div class="item-position"></div>
							</div>
							<p>1</p>
						</div>

						<p class="label cell-5">i<span data="incl"></span></p>
						<div class="slide slide-simple cell-6" data-slider="incl" style="--item-position: 50%;">
							<p>0º</p>
							<div class="slide-bg">
								<div class="item-position"></div>
							</div>
							<p>180º</p>
						</div>

						<p class="label cell-7">ω<span data="peri"></span></p>
						<p class="label cell-8">Ω<span data="node"></span></p>
						<p class="label cell-9">v<span data="m"></span></p>
					</div>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[2] }}</p>
					<h3 data="brightness">Loading...</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[3] }}</p>
					<h3 data="date">Loading...</h3>
				</div>
				<div>
					<p>{{ generic[lang].popups.detailedDataStrings[4] }}</p>
					<p>{{ generic[lang].popups.detailedDataStrings[5] }} <span data="far-sun">0 au</span></p>
					<p>{{ generic[lang].popups.detailedDataStrings[6] }} <span data="far-earth">0 au</span></p>

					{% if  element.viewInSkyviewerLink %}<a target="_blank" href="{{ element.viewInSkyviewerLink }}" class="ui__button ui__button-thin">{{ generic[lang].popups.detailedDataStrings[7] }}</a>{% endif %}
				</div>
			</div>
		</section>
	</div>

</div>
