@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

svg {
  overflow: visible;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

small,
input,
textarea,
select,
button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
a {
  margin: 0;
  font: inherit;
}

/* mixins.scss */
/* Bg images aspect ratio */
/* @include aspect-ratio(4,3); */
.view {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --green-0: #0c4a47;
  --green-1: #12726d;
  --blue-0: #00bebf;
  --blue-1: #0f8fff;
  --blue-2: #bde0ff;
  --teal-0: #058b8c;
  --teal-1: #009fa1;
  --teal-2: #0c4a47;
  --red-0: #ed4c4c;
  --white-0: #fff;
  --white-1: #f5f5f5;
  --white-2: #7a7a7a;
  --black-0: #000;
  --black-1: #2b3234;
  --black-2: #626666;
  --black-alpha: rgba(0,0,0, 0.9);
}

@font-face {
  font-family: "SourceSans";
  src: url("../../assets/fonts/SourceSansPro-Light.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "SourceSans";
  src: url("../../assets/fonts/SourceSansPro-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "SourceSans";
  src: url("../../assets/fonts/SourceSansPro-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "SourceSans", sans-serif;
  color: var(--white);
}

.ui__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SourceSans", sans-serif;
  font-weight: 900;
  font-size: 0.8rem;
  line-height: 1em;
  text-align: center;
  padding: 18px;
  width: 100%;
  height: calc(36px + 1em);
  background-color: var(--green-1);
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (min-width: 1025px) {
  .ui__button {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1025px) {
  .ui__button {
    max-width: 345px;
  }
}
.ui__button:active {
  background-color: var(--teal-2);
}

.ui__button.ghost-button {
  background-color: transparent;
  border: 1px solid var(--white-0);
}

.ui__button-small {
  background-color: var(--teal-0);
  color: var(--black-0);
  font-size: 0.8rem;
  line-height: 1em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px 4px;
  border-radius: 5px;
}

.categories-filter {
  margin: 0;
  padding: 0;
}
.categories-filter li {
  list-style: none;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
}
@media only screen and (max-width: 1024px) {
  .categories-filter li:last-of-type {
    margin: 0;
  }
}
.categories-filter input {
  opacity: 0;
  position: absolute;
}
.categories-filter .filter-bullet {
  width: 30px;
  height: 30px;
  background-color: var(--white-0);
  border-radius: 100%;
  position: absolute;
  left: 0;
}
.categories-filter .filter-bullet div {
  width: 20px;
  height: 20px;
  background-color: var(--teal-1);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.2s ease-out;
  transform-origin: center;
}
.categories-filter label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 0 0 45px;
  font-family: "SourceSans", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
}
.categories-filter svg {
  width: 40px;
  height: 40px;
}
.categories-filter .checked .filter-bullet div {
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  transition: transform 0.1s ease-in;
}

.share-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.share-button .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.share-button svg {
  width: 15px;
}
.share-button path,
.share-button rect {
  fill: var(--white-0);
}
.share-button p {
  margin-top: 10px;
  font-size: 0.5rem;
  font-weight: 100;
}

.share-button.get-url .icon {
  background-color: var(--teal-0);
}
.share-button.get-url svg {
  width: 20px;
}

.share-button.facebook .icon {
  background-color: #3d5a99;
}
.share-button.facebook svg {
  width: 9px;
  transform: translateX(-1px);
}

.share-button.twitter .icon {
  background-color: #0f8fff;
}
.share-button.twitter svg {
  width: 18px;
}

.share-button.snapshot .icon {
  background-color: var(--teal-0);
}
.share-button.snapshot svg {
  width: 15px;
}

.share-button.email .icon {
  background-color: var(--teal-0);
}
.share-button.email svg {
  width: 20px;
}

[data-template=index] {
  width: 100%;
  height: 100vh;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--black-0);
}
@media only screen and (min-width: 1025px) {
  [data-template=index] {
    padding: 120px;
  }
}

[data-template=index] .center__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  padding: 18px;
}
@media only screen and (min-width: 1025px) {
  [data-template=index] .center__wrapper {
    height: 80%;
    padding: 120px;
  }
}
[data-template=index] .center__wrapper {
  text-align: center;
}
[data-template=index] .center__wrapper img {
  height: 70px;
}
@media only screen and (min-width: 1025px) {
  [data-template=index] .center__wrapper img {
    height: 110px;
  }
}
[data-template=index] .center__wrapper h1 {
  font-size: 1.2rem;
  margin: 60px 0;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}
[data-template=index] .center__wrapper p {
  font-size: 0.8em;
}

[data-template=index] .buttons__wrapper {
  display: flex;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  [data-template=index] .buttons__wrapper {
    width: 520px;
  }
}
[data-template=index] button {
  margin: 0 9px 0 0;
}
[data-template=index] button:last-of-type {
  margin: 0 0 0 9px;
}

[data-template=customize-orbits] {
  padding: 18px;
  background-color: var(--black-0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}
@media only screen and (min-width: 1025px) {
  [data-template=customize-orbits] {
    justify-content: center;
  }
}
[data-template=customize-orbits] .categories-filter {
  margin: 35px 0;
  padding: 0 15px;
  flex-grow: 1;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  [data-template=customize-orbits] .categories-filter {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 810px;
    justify-content: space-between;
  }
  [data-template=customize-orbits] .categories-filter li {
    width: 50%;
    max-width: 320px;
  }
}
@media only screen and (min-width: 1025px) {
  [data-template=customize-orbits] .ui__button {
    margin-top: 120px;
  }
}

.customize-orbits-text {
  padding: 0 15px;
  max-width: 810px;
}
@media only screen and (min-width: 1025px) {
  .customize-orbits-text {
    padding: 0 15px 30px;
  }
}
.customize-orbits-text h2 {
  font-size: 1rem;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.9rem;
}
@media only screen and (min-width: 1025px) {
  .customize-orbits-text h2 {
    margin: 0 0 40px 0;
    font-size: 1.8rem;
  }
}
.customize-orbits-text p {
  font-size: 0.8em;
  line-height: 1.5em;
}
@media only screen and (min-width: 1025px) {
  .customize-orbits-text p {
    font-size: 1.3rem;
  }
}

[data-template=guided-experiences] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  background-color: var(--black-0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}
@media only screen and (min-width: 1025px) {
  [data-template=guided-experiences] {
    padding: 60px;
  }
}
[data-template=guided-experiences] h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  text-align: center;
}
[data-template=guided-experiences] a {
  margin: 30px 0 0 0;
  width: 100%;
  max-width: 320px;
  text-align: center;
}
@media only screen and (min-width: 1025px) {
  [data-template=guided-experiences] a {
    margin: 110px 0 0 0;
    max-width: 700px;
  }
}
[data-template=guided-experiences] h3 {
  font-weight: 900;
  font-size: 1.2rem;
  margin: 0 0 15px 0;
}
@media only screen and (min-width: 1025px) {
  [data-template=guided-experiences] h3 {
    font-size: 1.4rem;
  }
}
[data-template=guided-experiences] .image {
  border: 1px solid var(--red-0);
  border-radius: 15px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
[data-template=guided-experiences] .image:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: calc(9 / 16 * 100%);
}
[data-template=guided-experiences] svg {
  position: absolute;
  top: 0;
  right: 7%;
  width: 20%;
  max-width: 100px;
}
@media only screen and (min-width: 1025px) {
  [data-template=guided-experiences] svg {
    max-width: 50px;
    right: 5%;
  }
}
[data-template=guided-experiences] svg path {
  fill: var(--red-0);
}
[data-template=guided-experiences] svg text {
  fill: var(--white-0);
  font-size: 1rem;
  font-weight: 100;
}
[data-template=guided-experiences] svg text.num {
  font-size: 1.2rem;
  font-weight: 900;
}
[data-template=guided-experiences] .buttons__wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: flex-end;
  padding-top: 50px;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  [data-template=guided-experiences] .buttons__wrapper {
    width: 520px;
  }
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 380px;
  height: 100vh;
  overflow-y: auto;
  z-index: 13;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
.panel.active {
  transform: translateX(0%);
}

.panel {
  padding: 28px 34px;
  background-color: var(--black-alpha);
  display: flex;
  flex-direction: column;
}

.panel.panel-bottom, .panel.panel-bottom-center {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  transform: translateY(100%);
  top: unset;
  bottom: 0;
}
.panel.panel-bottom.active, .panel.active.panel-bottom-center {
  transform: translateY(0%);
}

@media only screen and (min-width: 1025px) {
  .panel.panel-bottom-center {
    transform: translate(-50%, 100%);
    left: 50%;
  }
  .panel.panel-bottom-center.active {
    transform: translate(-50%, 0%);
  }
}

.panel-separator {
  padding-bottom: 15px;
  border-bottom: 1px solid var(--white-alpha);
}

.panel-section {
  padding-top: 15px;
}
.panel-section h3 {
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 10px;
}

.panel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-top .panel-top-content {
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: column;
}
.panel-top .panel-top-content h3 {
  font-size: 1rem;
  font-weight: 100;
}
.panel-top .panel-top-content h2 {
  font-size: 1.1rem;
  font-weight: 900;
}
.panel-top button {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.panel-top button.small {
  width: 16px;
  height: 16px;
}

.panel-times path {
  fill: var(--white-0);
}

.navigation-button {
  padding: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 1025px) {
  .navigation-button {
    padding: 10px 20px;
  }
}
.navigation-button svg {
  width: 20px;
}
.navigation-button path {
  stroke: var(--white-1);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.back-button {
  position: absolute;
  top: 0;
  right: 0;
}
.back-button button {
  padding: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 1025px) {
  .back-button button {
    padding: 10px 20px;
  }
}
.back-button button svg {
  width: 20px;
}
.back-button button path {
  fill: var(--white-0);
}

.search-panel {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px 20px;
  opacity: 0;
  pointer-events: none;
  background-color: var(--black-alpha);
  transition: opacity 0.3s ease-in-out;
}
@media only screen and (min-width: 1025px) {
  .search-panel {
    padding: 60px;
  }
}

.search-input {
  z-index: 2;
  position: absolute;
  top: 64px;
  left: 0;
  padding: 0 14px;
  width: 100%;
  max-width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-lense {
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--white-0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.search-lense svg {
  width: 15px;
}
.search-lense path {
  fill: var(--black-2);
}

.search-text-input {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 40px;
  transform: scaleX(0);
  transform-origin: 20px 50%;
  flex-grow: 1;
  padding: 0 15px;
  transition: transform 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 100;
  color: var(--black-0);
}
.search-text-input::-moz-placeholder {
  color: var(--black-0);
}
.search-text-input::placeholder {
  color: var(--black-0);
}
.search-text-input input {
  padding: 0 35px;
  height: 40px;
  border-radius: 0 40px 40px 0;
  background-color: var(--white-0);
  flex-grow: 1;
}

.search-reset {
  position: absolute;
  top: 0;
  right: 15px;
  width: 40px;
  padding: 10px;
  height: 40px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.search-reset * {
  pointer-events: none;
}
.search-reset ellipse {
  fill: var(--red-0);
}
.search-reset path {
  fill: var(--white-1);
}

.search-cancel {
  font-size: 1rem;
  font-weight: 100;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

body[data-search-state="1"] .search-input {
  z-index: 15;
}
body[data-search-state="1"] .search-panel {
  z-index: 14;
  opacity: 1;
  pointer-events: unset;
}
body[data-search-state="1"] .search-panel button {
  pointer-events: unset;
}
body[data-search-state="1"] .search-lense {
  pointer-events: none;
}
body[data-search-state="1"] .search-cancel {
  opacity: 1;
}
body[data-search-state="1"] .search-text-input {
  transform: scaleX(1);
}

body[data-search-state="2"] .search-input {
  z-index: 6;
}
body[data-search-state="2"] .search-panel {
  z-index: 5;
  opacity: 1;
  pointer-events: unset;
}
body[data-search-state="2"] .search-panel button {
  pointer-events: unset;
}
body[data-search-state="2"] .search-lense {
  pointer-events: none;
}
body[data-search-state="2"] .search-reset {
  opacity: 1;
}
body[data-search-state="2"] .search-text-input {
  transform: scaleX(1);
}
body[data-search-state="2"] .search-cancel {
  opacity: 1;
}

.filters-button {
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--blue-0);
  transform: translate(14px, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.filters-button svg {
  width: 20px;
}
.filters-button path {
  fill: var(--white-0);
}

.distance-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px;
  margin: 0 10px;
}
.distance-input p {
  font-weight: 900;
  font-size: 1rem;
}
.distance-input .fake-range {
  z-index: 0;
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 18px;
  border: 5px solid var(--black-2);
  background-color: var(--white-0);
  border-radius: 20px;
  pointer-events: none;
}
.distance-input .handle {
  z-index: 1;
  width: 5px;
  height: 10px;
  position: absolute;
  bottom: 0;
  transform: translate(calc(-50% + 13px), -20px);
  background-color: var(--white-0);
}
.distance-input .handle.handle-1 {
  left: calc(var(--range-1) * (100% - 22px));
}
.distance-input .handle.handle-2 {
  left: calc(var(--range-2) * (100% - 22px));
}
.distance-input input {
  position: absolute;
  bottom: 20px;
  left: 0;
  opacity: 1;
  width: 100%;
  height: auto;
  -webkit-appearance: none;
}

[data-panel=filters] input[type=range]::-webkit-slider-thumb {
  width: 22px;
  height: 22px;
  background: var(--blue-0);
  border: 3px solid var(--white-0);
  border-radius: 22px;
  cursor: pointer;
  pointer-events: all;
  -webkit-appearance: none;
}
[data-panel=filters] input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  pointer-events: none;
}

.filter-buttons {
  margin: 20px 0;
}
.filter-buttons button:first-of-type {
  margin-bottom: 20px;
}

.customize-view {
  position: absolute;
  top: 175px;
  left: 0;
  padding: 0 13px;
}
.customize-view .customize-view-icon {
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: var(--black-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.customize-view .customize-view-icon p {
  font-size: 0.8rem;
  font-weight: 100;
  position: absolute;
  top: 12px;
  left: 60px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.customize-view .customize-view-icon svg {
  width: 20px;
  transform: translateY(4px);
}
.customize-view .customize-view-icon svg .chev {
  transform-origin: 50% 90%;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.customize-view .customize-view-icon path {
  fill: var(--white-0);
}

.customize-view ul {
  margin: 0;
  padding: 20px 5px;
}
.customize-view ul li {
  list-style: none;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  margin: 0 0 25px 0;
  transition-delay: 0s;
}
.customize-view ul input {
  opacity: 0;
  position: absolute;
}
.customize-view ul .filter-bullet {
  width: 30px;
  height: 30px;
  background-color: var(--white-0);
  border-radius: 100%;
  position: absolute;
  left: 0;
}
.customize-view ul .filter-bullet div {
  width: 20px;
  height: 20px;
  background-color: var(--teal-1);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.2s ease-out;
  transform-origin: center;
}
.customize-view ul label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 0 0 40px;
  font-family: "SourceSans", sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  cursor: pointer;
}
.customize-view ul svg {
  width: 40px;
  height: 40px;
}
.customize-view ul .checked .filter-bullet div {
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
  transition: transform 0.1s ease-in;
}

.active.customize-view .customize-view-icon {
  background-color: var(--blue-0);
}
.active.customize-view .customize-view-icon p {
  opacity: 1;
}
.active.customize-view .customize-view-icon svg .chev {
  transform: rotate(180deg);
}
.active.customize-view li {
  opacity: 1;
  transform: translateY(0);
  pointer-events: unset;
}
.active.customize-view li:nth-child(3n+1) {
  transition-delay: calc(0.05s * 1);
}
.active.customize-view li:nth-child(3n+2) {
  transition-delay: calc(0.05s * 2);
}
.active.customize-view li:nth-child(3n+3) {
  transition-delay: calc(0.05s * 3);
}

.share {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 14px;
}

.share-trigger {
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--black-1);
  transform: translate(0, calc(100vh - 100% - 14px));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.share-trigger svg {
  width: 20px;
  transform: translate(-1px, 0px);
}
.share-trigger path {
  fill: var(--white-0);
}

.share-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.zoom-controller {
  --size: 35vh;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: rotate(90deg);
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zoom-controller input {
  z-index: 2;
  -webkit-appearance: none;
  width: var(--size);
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.zoom-controller input[type=range]::-webkit-slider-thumb {
  width: 22px;
  height: 22px;
  background: var(--blue-0);
  border: 3px solid var(--white-0);
  border-radius: 22px;
  cursor: pointer;
  pointer-events: all;
  -webkit-appearance: none;
  margin-top: -3px;
}
.zoom-controller input[type=range]::-webkit-slider-runnable-track {
  width: var(--size);
  height: 100%;
  background-color: var(--black-2);
  border-radius: 20px;
}
.zoom-controller input:before,
.zoom-controller input:after {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 100;
  line-height: 20px;
  transform: translateY(-2px) rotate(-90deg);
  padding: 0 5px;
}
.zoom-controller input:before {
  content: "+";
}
.zoom-controller input:after {
  content: "-";
}

[data-panel=time-picker] {
  overflow: visible;
}
[data-panel=time-picker] p {
  font-size: 0.75rem;
  font-weight: 100;
}
[data-panel=time-picker] span {
  color: var(--white-0);
  font-weight: 900;
}

.time-picker {
  display: flex;
  justify-content: center;
  height: 0;
}

.time-picker-input input[type=range] {
  -webkit-appearance: none;
}
.time-picker-input input[type=range]::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  pointer-events: all;
  -webkit-appearance: none;
  margin-top: -8px;
}
.time-picker-input input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background-color: var(--black-2);
  border-radius: 20px;
}

.time-picker-trigger {
  z-index: 2;
  transform: translateY(-190px);
  transition: transform 0.5s ease-in-out;
  width: 40px;
  height: 40px;
  background-color: var(--black-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.time-picker-trigger svg {
  width: 20px;
}
.time-picker-trigger .clock path {
  fill: var(--white-0);
}
.time-picker-trigger.disabled {
  pointer-events: none;
}

.active .time-picker-trigger {
  transform: translateY(-30px) !important;
}

.timer-picker-description {
  text-align: center;
}

.time-picker-input {
  position: relative;
  padding-top: 15px;
}
.time-picker-input p {
  position: absolute;
  top: 0;
  left: 0;
}
.time-picker-input p:last-of-type {
  right: 0;
  left: unset;
}
.time-picker-input input {
  width: 100%;
}

.time-picker-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-picker-details span {
  display: inline;
  padding: 0 0 0 10px;
}
.time-picker-details div {
  display: flex;
}
.time-picker-details button {
  margin: 0 0 0 15px;
}

.sub-panel {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  padding: 10px 15px;
  background: #000;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sub-panel.active {
  transform: translateY(0);
}
.sub-panel > div {
  padding: 10px 0;
  width: 100%;
}
.sub-panel .buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-panel .buttons-wrapper button {
  max-width: calc(50% - 7px);
}

.orbit-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.orbit-controls button {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  background-color: var(--black-1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.orbit-controls button svg {
  width: 20px;
}
.orbit-controls .orbit-controls-free svg {
  transform: translate(-1px, 0px);
}
.orbit-controls .orbit-controls-axis svg {
  transform: translate(2px, -1px);
}

.expandable-items {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
}

.page__orbit-viewer .expandable-items {
  opacity: 1;
}

.expandable-item {
  opacity: 0;
}
.expandable-item.visible {
  opacity: 1;
}
.expandable-item * {
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

.expandable-item {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;
}

.expandable-item .item-wrapper {
  width: 180px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.expandable-item .close-item {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 5px;
  transform: translate(25px, -25px);
  transition-property: transform;
  pointer-events: all;
  cursor: pointer;
}
.expandable-item .close-item svg {
  pointer-events: none;
}
.expandable-item .close-item svg ellipse {
  fill: var(--red-0);
}
.expandable-item .close-item svg path {
  fill: var(--white-1);
}

.expandable-item .cover {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid var(--white-0);
  background-position: center;
  background-size: cover;
  pointer-events: all;
  cursor: pointer;
  transition-property: border-radius width height;
}
.expandable-item .cover .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  transition-property: opacity;
}
.expandable-item .cover .icon svg {
  width: 25px;
  height: 25px;
}
.expandable-item .cover .icon-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-0);
}
.expandable-item .cover .icon-text h3 {
  font-weight: 900;
  font-size: 0.8rem;
  transition-property: opacity;
}
.expandable-item .cover .icon-text p {
  font-weight: 100;
  font-size: 0.6rem;
  white-space: nowrap;
  transition-property: opacity;
}

.hidden-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--white-0);
  transform: translate(0, 100%);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  color: var(--black-0);
}
.hidden-tabs section {
  border-bottom: 1px solid var(--white-2);
}
.hidden-tabs section:last-of-type {
  border-bottom: none;
}
.hidden-tabs .head {
  background-color: var(--white-1);
  font-weight: 900;
  font-size: 0.8rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition-property: border;
  pointer-events: all;
  cursor: pointer;
}
.hidden-tabs .content {
  transition-property: height, padding;
  overflow: hidden;
  padding: 0 10px;
  height: 0px;
}
.hidden-tabs .content p {
  font-weight: 100;
  font-size: 0.7rem;
  opacity: 0;
  transition-property: opacity;
}
.hidden-tabs section.active .content {
  border-top: 1px solid var(--white-2);
  padding: 10px;
  height: var(--height);
}
.hidden-tabs section.active .content p {
  opacity: 1;
}

.expandable-item.visible.active .close-item {
  transform: translate(90px, -50px);
}
.expandable-item.visible.active .cover {
  border-radius: 0%;
  width: 100%;
  height: 100px;
  cursor: default;
}
.expandable-item.visible.active .cover .icon, .expandable-item.visible.active .cover h3, .expandable-item.visible.active .cover p {
  opacity: 0;
  pointer-events: none;
}
.expandable-item.visible.active .hidden-tabs {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-template=tours] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  background-color: var(--black-0);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}
@media only screen and (min-width: 1025px) {
  [data-template=tours] {
    padding: 60px;
  }
}

.tours-header {
  text-align: center;
  padding: 0 30px 15px;
  width: 100%;
  border-bottom: 1px solid var(--white-2);
  position: relative;
}
.tours-header h1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.tours-header h3 {
  font-weight: 900;
  font-size: 1.2rem;
  margin: 5px 0 0 0;
}
@media only screen and (min-width: 1025px) {
  .tours-header h3 {
    font-size: 1.4rem;
  }
}
.tours-header a {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.tours-header a.prev {
  left: 0;
}
.tours-header a.next {
  left: 100%;
  transform: translate(-100%, -50%);
}
.tours-header svg {
  width: 15px;
}
.tours-header svg path {
  stroke: var(--white-0);
  stroke-width: 4;
}

.tours-filters {
  width: 100%;
  border-bottom: 1px solid var(--white-2);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tours-filters button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
}
.tours-filters svg {
  width: 18px;
  margin-right: 10px;
}
.tours-filters .sort-button path,
.tours-filters .filter-button path {
  stroke: var(--white-0);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.tours-filters .search-button path {
  fill: var(--white-0);
}
.tours-filters .search-button .active-search {
  display: none;
}

.tours-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--white-2);
  padding: 30px 0;
}
.tours-list.tours-coming-soon {
  padding: calc(50px + 1rem) 0 20px;
  pointer-events: none;
  position: relative;
}
.tours-list.tours-coming-soon > p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
.tours-list.tours-coming-soon .item {
  opacity: 0.5;
}

.tours-list .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tours-list .item .thumb {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: 15px;
}
.tours-list .item .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tours-list .item h3 {
  font-weight: 900;
  font-size: 1rem;
}
.tours-list .item .sub-text {
  display: flex;
  padding-top: 5px;
}
.tours-list .item .sub-text p {
  font-weight: 900;
  font-size: 0.8rem;
}
.tours-list .item .sub-text p:first-of-type {
  position: relative;
  padding-right: 20px;
  margin-right: 20px;
}
.tours-list .item .sub-text p:first-of-type:after {
  content: "";
  height: 1rem;
  border-right: 1px solid var(--white-2);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tours-list .item .sub-text p span {
  display: inline-block;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background-color: var(--white-2);
  margin: 0 0 0.1rem 5px;
}
.tours-list .item .sub-text p span.active {
  background-color: var(--white-0);
}

.tours-button {
  margin: 50px 0 0;
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
}

main {
  z-index: 11;
  color: var(--white-0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: var(--black-0);
}

.to-front, .active.customize-view {
  z-index: 14;
}

.view {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.page__orbit-viewer .view {
  opacity: 1;
}