[data-slide] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	overflow-y: auto;

	opacity: 0;

	&.active {
		z-index: 1;
		opacity: 1;
	}
}

[data-slide="initialSlide"] {
	background-size: cover;
	background-position: center;

	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;

	.center-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;

		padding: 20px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h3 {
		font-size: 1.6rem;
		font-weight: 900;

		@include desktop {
			font-size: 2rem;
		}
		
		margin-bottom: 20px;
	}

	.sub-text {
		display: flex;
		padding-top: 5px;

		h4 {
			font-weight: 100;
			font-size: 1.2rem;
			margin-bottom: 10px;
		}

		p {
			font-weight: 900;
			font-size: 1rem;
			margin-top: 10px;
		}

		.duration {
			position: relative;
			padding-right: 40px;
			margin-right: 40px;

			&:after {
				content: '';
				height: 100%;
				border-right: 2px solid var(--white-0);
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.complexity {
			div {
				display: inline-block;

				border-radius: 100%;

				width: 5px;
				height: 5px;
				background-color: var(--white-2);

				margin: 0 0 0.1rem 5px;

				&.active {
					background-color: var(--white-0);
				}
			}
		}
	}

}

[data-slide="introSlide"],
[data-slide="funFactSlide"],
[data-slide="defaultSlide"] {

	display: flex;
	flex-direction: column;
	align-items: center;
 
	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		justify-content: flex-end;

		padding: 0 30px 30px;

		h3 {
			font-size: 1.8rem;
			font-weight: 900;
			margin-bottom: 5px;
		}

		h4 {
			font-weight: 900;
			font-size: 0.9rem;
		}

		p {
			margin-top: 40px;
			font-weight: 100;
			font-size: 1rem;
		}
	}

}
[data-slide="introSlide"],
[data-slide="funFactSlide"] {
	padding: 20px;
	background-color: var(--teal-2);

	.icon {
		width: 65px;
		height: 65px;

		// Todo posar icona
		border-radius: 100%;
		background-color: var(--white-0);
	}

	.thumb {
		width: 120px;
		height: 120px;

		background-position: center;
		background-size: cover;

		border-radius: 100%;
	}

	.media {
		flex-grow: 2;
		display: flex;
		align-items: flex-end;
		width: 100%;
		justify-content: center;
		padding: 0 20px 20px;
	}

}

[data-slide="funFactSlide"] {
	.media {
		justify-content: flex-start;
	}
}

[data-slide="defaultSlide"] {
	.content {
		padding: 50px; 
		flex-grow: 1;
	}
}


// Buttons
[data-slide="initialSlide"]{
	.buttons__wrapper {
		flex-grow: 1;
	}
}
[data-slide="initialSlide"],
[data-slide="introSlide"],
[data-slide="funFactSlide"] {
	.buttons__wrapper {
		display: flex;
		justify-content: center;

		align-items: flex-end;

		padding-top: 50px;

		width: 100%;

		@include desktop {
			width: 520px;
		}

		button {
			margin: 0 9px 0 0;

			&:last-of-type {
				margin: 0 0 0 9px;
			}
		}
	}
}

[data-slide="defaultSlide"]{
	.buttons__wrapper {
		display: flex;
		justify-content: center;
		align-items: flex-end;

		width: 100%;

		@include desktop {
			width: 520px;
		}
	}
}

