{% macro filter(categories) %}
	<ul>
		{% for category in categories %}
			<li>
				<label for="{{ category.slug }}">{{ category.title }}</label>
				<input type="checkbox" id="{{ category.slug }}" name="{{ category.slug }}" checked>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}