{# ABOUT PANEL #}
<div class="panel" data-panel="about">

	<div class="panel-top panel-separator">

		{# todo que aixo vingui del back #}
		<div class="panel-top-content">
			<h3>{{ about.description }}</h3>
			<h2>{{ about.title }}</h2>
		</div>

		{{ panelTimes('about') }}

	</div>

	<div class="panel-section">
		<p>{{ about.content }}</p>
	</div>
</div>