{# LANGUAGE PANEL #}
<div class="panel" data-panel="lang">

	<div class="panel-top panel-separator">

		{# todo que aixo vingui del back #}
		<div class="panel-top-content">
			<h3>Lang</h3>
			<h2>Settings and more</h2>
		</div>

		{{ panelTimes('lang') }}

	</div>
</div>