<div class="panel" data-panel="lang-{{ pageTemplate }}">

	<div class="panel-top panel-separator">

		<div class="panel-top-content">
			<h3>{{ generic[lang].menus['language-menu'].title }}</h3>
			<h2>{{ generic[lang].menus['language-menu'].subtitle }}</h2>
		</div>

		{{ panelTimes('lang-'+pageTemplate) }}

	</div>

	<div class="panel-section">
		
		<div class="section-content">

			<ul>

					<li class="ui__radio">
						<label>
							<input class="custom-input" type="radio" name="lang" value="en" {{ 'checked' if lang == 'en' }}>
							<div class="radio-bullet"><div></div></div>English
						</label>
					</li>

					<li class="ui__radio">
						<label>
							<input class="custom-input" type="radio" name="lang" value="es" {{ 'checked' if lang == 'es'}}>
							<div class="radio-bullet"><div></div></div>Español
						</label>
					</li>

			</ul>

		</div>

	</div>

	<div class="bottom-buttons">

		<button data-button="language-apply" class="ui__button button__icon icon__right">
			<p>{{ generic[lang].strings['apply-selection'] }}</p>
			{% include "ui/icons/arrow-next.njk" %}
		</button>

		<button data-button="language-reset" class="ui__button ghost-button button__icon icon__right">
			<p>{{ generic[lang].strings['reset-default'] }}</p>
			{% include "ui/icons/reset.njk" %}
		</button>
		
	</div>
</div>