{% from 'ui/panel-times.njk' import panelTimes as panelTimes %}
{% from 'navigation/nav-icons/nav-icon.njk' import icon as icon %}

<div class="navigation navigation-item">
	<button class="navigation-button" data-panel-button="navigation-{{ pageTemplate }}">

		{% include "ui/icons/burguer.njk" %}

	</button>
</div>

<div class="panel" data-panel="navigation-{{ pageTemplate }}">

	<div class="panel-top panel-separator">
		<div class="panel-top-content">
			<h3>{{ generic[lang].menus.menu.title }}</h3>
			<h2>{{ generic[lang].menus.menu.subtitle }}</h2>
		</div>

		{{ panelTimes('navigation-'+pageTemplate) }}
		
	</div>

	<div class="panel-section panel-separator">
		<h3>{{ generic[lang].menus.menu.sections[0] }}</h3>

		<ul class="menu">

			<li>
				<button class="menu-item" data-panel-button="lang-{{ pageTemplate }}">
					{{ icon('lang', generic[lang].menus['language-menu'].title) }}
					<p>{{ generic[lang].menus['language-menu'].title }}</p>
				</button>
			</li>

			<li>
				<button class="menu-item" data-panel-button="share-nav-{{ pageTemplate }}">
					{{ icon('share', generic[lang].menus.menu['share-orbit-viewer'] ) }}
					<p>{{ generic[lang].menus.menu['share-orbit-viewer'] }}</p>
				</button>
			</li>
		
			<li>
				<a class="menu-item" target="_blank" href="{{ globals[lang].menu.helpUrl }}">
					{{ icon('help', generic[lang].menus.menu['help']) }}
					<p>{{ generic[lang].menus.menu['help'] }}</p>
				</a>
			</li>

			<li>
				<button class="menu-item" data-panel-button="about-{{ pageTemplate }}">
					{{ icon('about', generic[lang].menus['about-menu'].title) }}
					<p>{{ generic[lang].menus['about-menu'].title }}</p>
				</button>
			</li>

			<li>
				<a class="menu-item" target="_blank" href="{{ globals[lang].menu.howToUseUrl }}">
					{{ icon('how', generic[lang].menus.menu['how-to-use']) }}
					<p>{{ generic[lang].menus.menu['how-to-use'] }}</p>
				</a>
			</li>	

			<li>
				<button class="menu-item" data-panel-button="resolution-{{ pageTemplate }}">
					{{ icon('resolution', generic[lang].menus['resolution-menu'].title) }}
					<p>{{ generic[lang].menus['resolution-menu'].title}}</p>
				</button>
			</li>

		</ul>

	</div>

	<div class="panel-section">
		<h3>{{ generic[lang].menus.menu.sections[1] }}</h3>

		<ul class="menu">

			<li>
				<a class="menu-item" href="{{ '/' + lang + '/guided-experiences' | url }}">
					{{ icon('guided', 'Guided Experiences') }}
					<p>{{ guidedExperiences[lang].title }}</p>
				</a>
			</li>
		</ul>


	</div>

</div>

{% include "navigation/about.njk" %}
{% include "navigation/lang.njk" %}
{% include "navigation/resolution.njk" %}
{% include "navigation/share.njk" %}


