{% from 'ui/panel-times.njk' import panelTimes as panelTimes %}
{% from 'navigation/nav-icons/nav-icon.njk' import icon as icon %}

<div class="navigation">
	<button class="navigation-button" data-panel-button="navigation">

		{% include "ui/icons/burguer.njk" %}

	</button>
</div>

<div class="panel" data-panel="navigation">

	<div class="panel-top panel-separator">

		{# todo que aixo vingui del back #}
		<div class="panel-top-content">
			<h3>Main menu</h3>
			<h2>Settings and more</h2>
		</div>

		{{ panelTimes('navigation') }}
		
	</div>

	<div class="panel-section panel-separator">
		<h3>Settings</h3>

		<ul class="menu">

			<li>
				<button class="menu-item" data-panel-button="lang">
					{{ icon('lang', 'Language selection') }}
					<p>Language selection</p>
				</button>
			</li>

			<li>
				<button class="menu-item" data-panel-button="share">
					{{ icon('share', 'Share Orbit Viewer') }}
					<p>Share Orbit Viewer</p>
				</button>
			</li>
		
			<li>
				<a class="menu-item" target="_blank" href="https://www.google.com/">
					{{ icon('help', 'Help') }}
					<p>Help</p>
				</a>
			</li>

			<li>
				<button class="menu-item" data-panel-button="about">
					{{ icon('about', 'About Orbit Viewer') }}
					<p>About Orbit Viewer</p>
				</button>
			</li>

			<li>
				<a class="menu-item" target="_blank" href="https://www.google.com/">
					{{ icon('how', 'How to use the Orbit Viewer') }}
					<p>How to use the Orbit Viewer</p>
				</a>
			</li>	

		</ul>

	</div>

	<div class="panel-section">
		<h3>Quick access</h3>

		<ul class="menu">

			<li>
				<a class="menu-item" href="{{ '/guided-experiences' | locale_url }}">
					{{ icon('guided', 'Guided Experiences') }}
					<p>Guided Experiences</p>
				</a>
			</li>
		</ul>


	</div>

</div>

{% include "navigation/about.njk" %}
{% include "navigation/lang.njk" %}


