.popup-info {
	width: 250px;
	height: auto;
	z-index: 1;

	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(0,-50%);

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	opacity: 0;
	transition: opacity 1s ease-in-out;

	&, * {
		pointer-events: none;
	}

	.close-item {
		position: absolute;
		z-index: 2;

		width: 35px;
		height: 35px;

		padding: var(--distance-5);

		top: 0;
		right: 0;

		transform: translate(50%, -50%);

		cursor: pointer;

		svg {
			pointer-events: none;

			ellipse {
				fill: var(--red-0);
			}

			path {
				fill: var(--white-1);
			}
		}
	}

	.cover {
		width: 100%;

		@include aspect-ratio(16, 9);

		border: 1px solid var(--black-2);

		background-position: center;
		background-size: cover;
	}

	.hidden-tabs {
		width: 100%;
		background: var(--white-0);
		overflow: hidden;

		color: var(--black-0);

		.head {
			background-color: var(--white-1);

			@include bold-3;

			padding: var(--distance-10);

			display: flex;
			justify-content: space-between;
			align-items: center;

			cursor: pointer;
			pointer-events: all;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 2px solid var(--blue-1);
				box-sizing: border-box;

				opacity: 0;
				transition: opacity 0.3s ease-in-out;
				pointer-events: none;
			}

			.cross {
				width: 12px;
				height: 2px;
				background-color: var(--black-0);
				position: relative;

				&:before {
					content: '';
					width: 12px;
					height: 2px;
					background-color: var(--black-0);
					transform-origin: center;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%) rotate(90deg);
					transition: transform 0.5s ease-in-out;
				}
			}
		}

		.content {
			overflow: hidden;
			height: 0px;

			display: flex;
			flex-direction: column;

			transition: 0.8s ease-in-out;
			transition-property: all;

			>div {
				padding:var(--distance-5)  var(--distance-10);
				border-bottom: 1px solid var(--white-1);

				&:last-of-type {
					padding: var(--distance-5) var(--distance-10) var(--distance-10) var(--distance-10);
				}

				&:last-of-type {
					border-bottom: none;
				}
			}

			button {
				margin-top: var(--distance-10);
				color: var(--white-0);
			}

			// Big texts 
			h3 {
				@include light-2;
			}

			// Default text
			p {
				@include light-3;
			}
		}

		.overview {
			p:not(:last-of-type) {
				margin-bottom: 0.5em;
			}
		}

		section.active {

			.head {
				background-color: var(--blue-2);
				position: relative;

				&:after {
					opacity: 1;
				}

				.cross:before {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}

			.content {

				height: var(--height);

				p {
					opacity: 1;
				}
			}
		}

	}

	&.active {

		transition-delay: 4s;

		opacity: 1;
		z-index: 2;

		.close-item {
			cursor: pointer;
			pointer-events: all;
		}

		.hidden-tabs {
			.head,
			button {
				pointer-events: all;
			}
		}
	}
}

.portrait .popup-info {
	left: 50%;
	top: unset;
	bottom: 20px;
	
	transform: translate(-50%,0);
	
	max-width: 300px;
	width: calc(100% - var(--distance-30));

	.close-item{
		right: 50%;
		width: 40px;
		height: 40px;
	}
}

.popup-info .slide {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	--item-position: 0%;
	--item-range: 5%;
	--item-range-position: 5%;

	&.slide-loading {
		opacity: 0.2;
	}

	.labels {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 0.3em;
	}

	.slide-bg {
		height: 15px;
		background-color: var(--white-1);
		position: relative;
	}

	.item-position,
	.item-range {
		height: 100%;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
	}

	.item-position {
		z-index: 1;
		width: 2px;
		height: 100%;
		position: absolute;
		left: var(--item-position);
		top: 0;
		
		background-color: var(--black-0);

		&:before {
			content: '';
			width: 12px;
			height: 12px;
			background-color: var(--blue-1);
			clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -120%);
		}
	}

	.item-range {
		left: var(--item-range-position);
		width: var(--item-range);
		transform: translateX(-50%);
		background-color: var(--blue-0);
	}

	.slide-legend{
		display: flex;
		flex-direction: column;
		padding: var(--distance-5) 0;

		p {
			@include light-4;
			position: relative;
			margin: 0 0 0 15px;

			&:before {
				content: '';
				width: 1.2em;
				height: 0.8em;
				position: absolute;
				left: -15px;
				top: 50%;
				transform: translate(0, -60%);
			}

			&:first-of-type:before {
				background-color: var(--blue-0);
			}
			&:last-of-type:before {
				width: 1.2em;
				height: 1.2em;
				background-color: var(--blue-1);
				clip-path: polygon(100% 50%, 50% 100%, 0% 50%);
				transform: translate(0, -80%);
			}
		}
	}

	> div {
		width: 100%;
	}
}

.slide.slide-simple {
	flex-direction: revert;
	align-items: center;
	justify-content: space-between;
	overflow: visible;

	p {
		width: 18%;
		flex-shrink: 0;

		&:first-of-type {
			padding-right: var(--distance-5);
			text-align: right;
		}

		&:last-of-type {
			padding-left: var(--distance-5);
		}
	}

	.item-position:before {
		width: 8px;
		height: 8px;
	}

}

.popup-info .orbital-elements {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 0px;

	.cell-1 { grid-area: 1 / 1 / 2 / 2; }
	.cell-2 { grid-area: 1 / 2 / 2 / 4; }
	.cell-3 { grid-area: 2 / 1 / 3 / 2; }
	.cell-4 { grid-area: 2 / 2 / 3 / 4; }
	.cell-5 { grid-area: 3 / 1 / 4 / 2; }
	.cell-6 { grid-area: 3 / 2 / 4 / 4; }
	.cell-7 { grid-area: 4 / 1 / 5 / 2; }
	.cell-8 { grid-area: 4 / 2 / 5 / 3; }
	.cell-9 { grid-area: 4 / 3 / 5 / 4; }

	.label {
		background-color: var(--white-1);
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--distance-5) var(--distance-10);
		margin: var(--distance-5) 0;

		span {
			@include normal-1;
		}
	}
}