---
layout: base
pageTemplate: about
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}
<div class="page__content">
  <p>{{ about | dump }}</p>
</div>
