---
layout: base
pageTemplate: guided-experiences
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}
  
{% from 'ui/button.njk' import button as button %}

<div class="guided-experiences-list">
  <h1>{{ guidedExperiences.title }}</h1>

  {% for tour in guidedExperiencesTours %}
    <a href="{{ '/' | url }}{{ tour.slug }}">
      <h3>{{ tour.title }}</h3>
    </a>
  {% endfor %}

</div>

