---
layout: base
templateClass: guided-experiences
permalink: "guided-experiences/{{ experiences.slug.current | slug }}/"
pagination:
  alias: experiences
  data: experiences
  size: 1
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}

<p>HOLA</p>