---
layout: base
pageTemplate: guided-experiences
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}
  
<p>Guided experiences</p>