---
layout: base
pageTemplate: index
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}

{% from 'buttons/button.njk' import button as button %}

{{ button('I want to explore') }}
{{ button('Please guide me') }}
