---
layout: base
pageTemplate: index
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}

{% from 'buttons/button.njk' import button as button %}

<div class="page__content">
  {{ button('I want to explore') }}
  {{ button('Please guide me') }}
</div>
