---
layout: base
pageTemplate: orbit-viewer
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}
  
{# todo aquests dos son ui generica d'altres pàgines també #}
<div class="ui-orbit-explorer naviagtion">
  {% include 'ui/orbit-viewer/navigation.njk' %}
</div>

<div class="ui-orbit-explorer back-button">

</div>

<div class="ui-orbit-explorer search">

</div>

<div class="ui-orbit-explorer filters">

</div>

<div class="ui-orbit-explorer customize-view">

</div>

<div class="ui-orbit-explorer share">

</div>

<div class="ui-orbit-explorer timescale">

</div>

<div class="ui-orbit-explorer zoom-controller">

</div>

<div class="ui-orbit-explorer orbit-controls">

</div>