---
layout: base
pageTemplate: orbit-viewer
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}

  
{# todo aquests dos son ui generica d'altres pàgines també #}

{# NAVIGATION #}
{% include 'ui/orbit-viewer/navigation.njk' %}

{# BACK #}
{% include 'ui/orbit-viewer/back-button.njk' %}

{# SEARCH #}
{% include 'ui/orbit-viewer/search.njk' %}

{# FILTERS #}
{% include 'ui/orbit-viewer/filters.njk' %}

{# CUSTOMIZE VIEW #}
{% include 'ui/orbit-viewer/customize-view.njk' %}

{# SHARE #}
{% include 'ui/orbit-viewer/share.njk' %}

<div class="timescale">

</div>

<div class="zoom-controller">
  <input type="range" min="0" max="1" step="0.01" value="0.5">
</div>

<div class="orbit-controls">

</div>