---
layout: base
templateClass: tours
permalink: "tours/{{ tours.slug.current | slug }}/"
pagination:
  alias: tours
  data: tours
  size: 1
---
{# ---
layout: base
pageTemplate: index
eleventyComputed:
  title: "{{ copies.seo.title }}"
  description: "{{ copies.seo.description }}"
--- #}

<p>HOLA</p>