@font-face {
	font-family: 'SourceSans';
	src: url('../../assets/fonts/SourceSansPro-Light.woff') format('woff');
	font-style: normal;
	font-weight: 100;
	text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'SourceSans';
	src: url('../../assets/fonts/SourceSansPro-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'SourceSans';
	src: url('../../assets/fonts/SourceSansPro-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 900;
	text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font1: 'SourceSans', sans-serif;
$font2: 'Open Sans', sans-serif;

body {
	font-family: $font1;
	color: var(--white);
}


@mixin title-1 {
	font-size: 1rem;
	
	@include desktop {
		font-size: 1.2rem;
	}

	line-height: 1.2em;
	letter-spacing: 0.6em;
	text-transform: uppercase;
}


@mixin light-1 {
	font-size: 1.2rem;

	@include desktop {
		font-size: 1.4rem;
	}


	font-weight: 100;
	line-height: 1.5em;
}

@mixin light-2 {
	font-size: 1rem;
	
	font-weight: 100;
	line-height: 1.5em;
}

@mixin light-3 {
	font-size: 0.8rem;

	font-weight: 100;
	line-height: 1.5em;
}

@mixin light-4 {
	font-size: 0.6rem;

	font-weight: 100;
	line-height: 1.5em;
}

@mixin normal-1 {
	font-size: 0.8rem;

	@include desktop {
		font-size: 1rem;
	}

	line-height: 1em;
	
	font-weight: 400;
}

@mixin normal-2 {
	font-size: 0.6rem;

	@include desktop {
		font-size: 0.8rem;
	}

	line-height: 1em;
	
	font-weight: 400;
}

@mixin bold-1 {
	
	font-size: 1.8rem;

	@include desktop {
		font-size: 2rem;
	}

	line-height: 1em;

	font-weight: 900;
}

@mixin bold-2 {
	
	font-size: 1.2rem;

	@include desktop {
		font-size: 1.4rem;
	}

	line-height: 1em;

	font-weight: 900;
}

@mixin bold-3 {
	
	font-size: 0.9rem;

	@include desktop {
		font-size: 1rem;
	}

	line-height: 1em;

	font-weight: 900;
}
@mixin bold-4 {
	
	font-size: 0.7rem;

	@include desktop {
		font-size: 0.8rem;
	}

	line-height: 1em;

	font-weight: 900;
}
