
:root {
	--green-0: #0c4a47; 			// Button hover
	--green-1: #12726d; 			// Button default
	
	--blue-0: #00bebf; 			// Blau cel
	--blue-1: #0f8fff; 			// Fletxetes ui, borders
	--blue-2: #bde0ff;				// Bg icones hover

	--teal-0: #058b8c; 			// Crec que només per les icones de share?
	--teal-1: #009fa1;
	--teal-2: #0c4a47;				// Icones actives clicked

	--red-0: #ed4c4c; 				// Banderoles

	--white-0: #fff; 				// Texts
	--white-1: #f5f5f5; 			// Bordes "blancs"
	--white-2: #7a7a7a; 			// Bordes "blancs"

	--black-0: #000;
	--black-1: #2b3234; 			// Bg icones // Algunes icones en clicked
	--black-2: #626666; 			// Bg icones hover
	--black-alpha: rgba(0,0,0, 0.9);
}