{% from 'ui/filter.njk' import filter as filter %}

<div class="customize-orbits-text">
  <h2>{{ customizeOrbits[lang].title }}</h2>
  <p>{{ customizeOrbits[lang].description }}</p>
</div>

{{ filter(categories) }}

<button data-button="customize-orbits-button" class="ui__button button_max-size">
  <p>{{ customizeOrbits[lang].button }}</p>
</button>

