
<div class="center__wrapper">

    {# TODO imatge del gestor #}
    {{ landing | dump }}
    {# <img src="/assets/ceres-lorem.jpeg" alt="{{ landing.en.title }}"> 
    <h1>{{ landing.title }}</h1>
    <p>{{ landing.version }}</p> #}

</div>

<div class="buttons__wrapper">

  <button data-button="landing-button-left" class="ui__button">
    <p>{{ landing.leftButton }}</p>
  </button>

  <button data-button="landing-button-right" class="ui__button">
    <p>{{ landing.rightButton }}</p>
  </button>

</div>
