{# NAVIGATION #}
{% include '../navigation/navigation.njk' %}

{# BACK #}
{% include 'ui/orbit-viewer/back-button.njk' %}

{# SEARCH #}
{% include 'ui/orbit-viewer/search.njk' %}

{# FILTERS #}
{% include 'ui/orbit-viewer/filters.njk' %}

{# CUSTOMIZE VIEW #}
{% include 'ui/orbit-viewer/customize-view.njk' %}

{# SHARE #}
{% include 'ui/orbit-viewer/share.njk' %}

{# TIME PICKER #}
{% include 'ui/orbit-viewer/time-picker.njk' %}

{# ZOOM #}
<div class="zoom-controller" data-animation-type="control-right">
  <div></div>
  <input class="custom-input" name="zoom-controller" data-zoom="1" type="range" min="0" max="1" step="0.00001" value="0.5">
  <div></div>
</div>

{# CONTROLS #}
{% include 'ui/orbit-viewer/orbit-controls.njk' %}
