{% from 'tours/loop.njk' import loop as loop %}
{% from 'ui/panel-times.njk' import panelTimes as panelTimes %}

<div class="tours-header">
  <h1>{{ guidedExperiences[lang].title }}</h1>
  <h3>{{ tour.title }}</h3>
  {% include "tours/pagination.njk" %}  
</div>

<div class="tours-filters">
  
  <button class="sort-button" data-panel-button="tour-sort-{{ tour.slug }}">
    
    {% include "ui/icons/sort.njk" %}

    <p>{{ generic[lang].strings['sort-by'] }}</p>
  </button>
  
  <button class="search-button">

    {% include "ui/icons/lense.njk" %}
    <p>{{ generic[lang].strings.search }}</p>

    <div class="active-search">
      <input type="text" name="tour-search">
      <label for="tour-search">{{ generic[lang]['strings']['search-placeholder'] }}</label>
    </div>

  </button>

</div>

{# ACTIVE TOURS #}
<div class="tours-list">
  {{ loop(guidedExperiencesTours[lang], tour, lang ) }}
</div>

<div class="tours-button buttons__wrapper">

  <a href="{{ '/' + lang + '/guided-experiences' | url }}" class="ui__button button_max-size has-arrow">
    {% include "ui/icons/arrow-prev.njk" %}
    <p>{{ generic[lang]['strings']['tours-back'] }}</p>
  </a>

</div>


{# Filter PANEL #}
<div class="panel" data-panel="tour-sort-{{ tour.slug }}">

	<div class="panel-top panel-separator">

		<div class="panel-top-content has-icon">
      {% include "ui/icons/sort.njk" %}
      <div>
        <h3>{{ generic[lang].menus['sort-menu'].title }}</h3>
        <h2>{{ generic[lang].menus['sort-menu'].subtitle }}</h2>
      </div>
		</div>

		{{ panelTimes('tour-sort-' + tour.slug ) }}

	</div>

	<div class="panel-section panel-separator">
    
    <h3>{{ generic[lang].menus['sort-menu'].sections[0] }}</h3>

    <ul>
      
      <li class="ui__radio">
        <label>
          <input class="custom-input" type="radio" name="sort-radio" value="new" checked>
          <div class="sort-bullet"><div></div></div>{{ generic[lang].menus['sort-menu'].section0[0] }}
        </label>
      </li>
      
      <li class="ui__radio">
        <label>
          <input class="custom-input" type="radio" name="sort-radio" value="old">
          <div class="sort-bullet"><div></div></div>{{ generic[lang].menus['sort-menu'].section0[1] }}
        </label>
      </li>
    
    </ul>

  </div>

  <div class="panel-section">
    
    <h3>{{ generic[lang].menus['sort-menu'].sections[1] }}</h3>

    <ul>

      <li class="ui__radio">
        <label>
          <input class="custom-input" type="radio" name="sort-radio" value="less-duration">
          <div class="sort-bullet"><div></div></div>{{ generic[lang].menus['sort-menu'].section1[0] }}
        </label>
      </li>
      
      <li class="ui__radio">
        <label>
          <input class="custom-input" type="radio" name="sort-radio" value="more-duration">
          <div class="sort-bullet"><div></div></div>{{ generic[lang].menus['sort-menu'].section1[1] }}
        </label>
      </li>

      <li class="ui__radio">
        <label>
          <input class="custom-input" type="radio" name="sort-radio" value="less-complexity">
          <div class="sort-bullet"><div></div></div>{{ generic[lang].menus['sort-menu'].section1[2] }}
        </label>
      </li>

      <li class="ui__radio">
        <label>
          <input class="custom-input" type="radio" name="sort-radio" value="more-complexity">
          <div class="sort-bullet"><div></div></div>{{ generic[lang].menus['sort-menu'].section1[3] }}
        </label>
      </li>
    
    </ul>

  </div>

  <div class="bottom-buttons">

    <button data-button="sort-apply" class="ui__button">
      <p>{{ generic[lang].menus['sort-menu']['apply-sort'] }}</p>
    </button>

    <button data-button="sort-reset" class="ui__button ghost-button">
      <p>{{ generic[lang].menus['sort-menu']['reset-sort'] }}</p>
    </button>

  </div>


</div>


