{% from 'ui/filter-icons/filter-icon.njk' import filterIcon as filterIcon %}

<div class="expandable-items">

	{% for element in solarSystemElements %}

		<div class="expandable-item" data-id="{{ element.slug }}">

			<div class="item-wrapper">

				<button class="close-item">
					<svg viewBox="0 0 20 20" xml:space="preserve">
						<ellipse cx="10" cy="10" rx="10" ry="10"/>
						<path d="M15,5.9L14.1,5L10,9.1L5.9,5L5,5.9L9.1,10L5,14.1L5.9,15l4.1-4.1l4.1,4.1l0.9-0.9	L10.9,10L15,5.9z"/>
					</svg>
				</button>

				<div class="cover" style="background-image: url(https://picsum.photos/300/200);">
					
					<div class="icon">

						{% set cat = element.elementCategory[0] %}

						{% for category in categories %}
							{% if category.slug == cat.slug %}
								{% set cat = category %}
							{% endif %}
						{% endfor %}

						{{ filterIcon(cat.slug, cat.title, cat.mainColor ) }}

						<div class="icon-text">
							<h3>{{ element.title }}</h3>
							<p>Tap to expand</p>
						</div>
					</div>
				</div>
				
				<div class="hidden-tabs">

					<section>
						<div class="head">
							<p>Overview</p>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illo in facere possimus esse consequuntur provident voluptate dolorum saepe sit repellendus sunt illum reiciendis amet corporis, officia blanditiis hic doloribus.</p>
						</div>
					</section>

					<section>
						<div class="head">
							<p>Context information</p>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illo in facere possimus esse consequuntur provident voluptate dolorum saepe sit repellendus sunt illum reiciendis amet corporis, officia blanditiis hic doloribus.</p>
						</div>
					</section>

					<section>
						<div class="head">
							<p>Detailed data</p>
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, illo in facere possimus esse consequuntur provident voluptate dolorum saepe sit repellendus sunt illum reiciendis amet corporis, officia blanditiis hic doloribus.</p>
						</div>
					</section>
				</div>

			</div>

		</div>
	{% endfor %}

</div>