{% from 'ui/filter-icons/filter-icon.njk' import filterIcon as filterIcon %}


{% macro filter(categories) %}
	<ul class="categories-filter">
		{% for category in categories %}
			<li>
				<input class="custom-input" type="checkbox" id="{{ category.slug }}" name="{{ category.slug }}" checked>
				<label for="{{ category.slug }}">
					<div class="filter-bullet"><div></div></div>
					{{ category.title }}{{ filterIcon(category.slug, category.title, category.mainColor ) }}</label>
			</li>
		{% endfor %}
	</ul>
{% endmacro %}


