<a class="share-button facebook" href="">
	<div class="icon">
		{% include "ui/icons/facebook.njk" %}
	</div>
	<p>{{ generic[lang].menus['share-menu'].facebook }}</p>
</a>

<a class="share-button twitter" href="">
	<div class="icon">
		{% include "ui/icons/twitter.njk" %}
	</div>
	<p>{{ generic[lang].menus['share-menu'].twitter }}</p>
</a>

{# <a class="share-button snapshot" href="">
	<div class="icon">
		{% include "ui/icons/snapshot.njk" %}
	</div>
	<p>{{ generic[lang].menus['share-menu']['get-snapshot'] }}</p>
</a> #}

<a class="share-button get-url" href="">
	<div class="icon">
		{% include "ui/icons/get-url.njk" %}
	</div>
	<p>{{ generic[lang].menus['share-menu']['get-url'] }}</p>
</a>

<a class="share-button email" href="">
	<div class="icon">
		{% include "ui/icons/email.njk" %}
	</div>
	<p>{{ generic[lang].menus['share-menu'].email }}</p>
</a>


