
[data-template="guided-experiences"] {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	padding: var(--distance-20);

	background-color: var(--black-0);

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	height: 100vh;
	height: var(--doc-height);
	overflow-y: auto;

	@include desktop {
		padding: var(--distance-60);
	}

	h1 {
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 0.7rem;
		text-align: center;
	}

	a {
		margin: var(--distance-30) 0 0 0;
		width: 100%;
		max-width: var(--default-max-width);
		text-align: center;	

		@include desktop {
			margin: var(--distance-100) 0 0 0;
			max-width: 700px;
		}
	}

	h3 {
		margin: 0 0 15px 0;

		@extend %bold-2;
	}

	.image {
		border: 1px solid var(--red-0);
		border-radius: 15px;
		width: 100%;

		background-position: center;
		background-size: cover;

		@include aspect-ratio(16,9);
	}

	.image svg {
		position: absolute;
		top: 0;
		right: 7%;
		width: 20%;
		max-width: 100px;

		@include desktop {
			max-width: 50px;
			right: 5%;
		}

		path {
			fill: var(--red-0);
		}

		text {
			fill: var(--white-0);
		
			@extend %light-2;
			
			&.num {
				@extend %bold-2;
			}
		}
	}


	.buttons__wrapper {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		align-items: flex-end;

		padding-top: 50px;
		
		width: 100%;

		@include desktop {
			width: 520px;
		}
	}

}