<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}">

	{% include 'head.njk' %}

	<link rel="stylesheet" href="{{ '/production/bundle/main.css' | url  }}"/>

	<script>
		const data = {
			tours: {{ tours.en | dump | safe }},
			guidedExperiencesTours: {{ guidedExperiencesTours.en | dump | safe }}
		};
	</script>

	<body class="{{ 'en-site' if lang == 'en' else 'es-site'}}" style="opacity:0;">

		<div class="site__wrapper">

			{% block content %}
				<main data-template="{{ pageTemplate }}" class="page__content">
					{{ content | safe }}
				</main>
			{% endblock %}

			{# LOADER #}
			{% include "ui/loader.njk" %}

		</div>

		{# EXPANDABLE ELEMENTS #}
		{% include "ui/expandable-items/loop.njk" %}


		<script src="{{ '/production/bundle/main.js' | url }}"></script>

	</body>
</html>