<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ dir }}" style="opacity:0;">

	{% include 'head.njk' %}

	<link rel="stylesheet" href="{{ '/production/bundle/main.css' | url  }}"/>

	<script>
		const data = {
			tours: {{ tours.en | dump | safe }},
			guidedExperiencesTours: {{ guidedExperiencesTours.en | dump | safe }}
		};
	</script>

	<body class="{{ 'en-site' if lang == 'en' else 'es-site'}}">

		<div class="site__wrapper">

			{% block content %}
				<main data-template="{{ pageTemplate }}" class="page__content" style="opacity: 0;">
					{{ content | safe }}
				</main>
			{% endblock %}
		</div>

		{# EXPANDABLE ELEMENTS #}
		{% include "ui/expandable-items/loop.njk" %}

		<script src="{{ '/production/bundle/main.js' | url }}"></script>

	</body>
</html>