

<button class="customize-view-icon">
	<svg viewBox="0 0 23.4 25.9" xml:space="preserve">
		<path d="M23.3,7.2C21.1,2.8,16.6,0,11.7,0C6.8,0,2.3,2.8,0.1,7.2C0,7.6,0,8,0.1,8.4	c2.2,4.4,6.7,7.2,11.6,7.2c4.9,0,9.4-2.8,11.6-7.2C23.5,8,23.5,7.6,23.3,7.2z M11.7,13.7c-3.2,0-5.9-2.6-5.9-5.9	C5.9,4.6,8.5,2,11.7,2c3.2,0,5.9,2.6,5.9,5.9l0,0C17.6,11,15,13.7,11.7,13.7z M11.7,3.9c-0.3,0-0.7,0.1-1,0.2		c0.6,0.9,0.5,2.1-0.4,2.7C9.6,7.3,8.7,7.3,8,6.8c-0.6,2.1,0.7,4.2,2.7,4.8s4.2-0.7,4.8-2.7c0.6-2.1-0.7-4.2-2.7-4.8		C12.4,4,12.1,3.9,11.7,3.9L11.7,3.9z"/>
		<path class="chev" d="M9,22.9l3,3l3-3H9z"/>
	</svg>

	<p>Customize your view. Toggle On/Off.</p>
</button>

<ul>
	<li>
		<input class="custom-input" type="checkbox" id="background-stars" name="background-stars" checked>
		<label for="background-stars">
			<div class="filter-bullet"><div></div></div>
			Background Stars</label>
	</li>
	<li>
		<input class="custom-input" type="checkbox" id="observed-positions" name="observed-positions" checked>
		<label for="observed-positions">
			<div class="filter-bullet"><div></div></div>
			Observed positions</label>
	</li>
	<li>
		<input class="custom-input" type="checkbox" id="discovered-by-rubin" name="discovered-by-rubin" checked>
		<label for="discovered-by-rubin">
			<div class="filter-bullet"><div></div></div>
			Discovered by Rubin</label>
	</li>
</ul>