
<button class="navigation-button" data-panel-button="navigation">

	<svg viewBox="0 0 23 17.7" xml:space="preserve">
		<path d="M1.5,8.8h20"	/>
		<path d="M1.5,1.5h20"	/>
		<path d="M1.5,16.2h20" />
	</svg>

</button>

<div class="panel" data-panel="navigation">

	<div class="panel-top panel-separator">

		{# todo que aixo vingui del back #}
		<div class="panel-top-content">
			<h3>Main menu</h3>
			<h2>Settings and more</h2>
		</div>

		<button class="panel-times" data-panel-button="navigation">
			<svg viewBox="0 0 19 19" xml:space="preserve">
				<path d="M19,1.8L17.2,0L9.5,7.7L1.8,0L0,1.8l7.7,7.7L0,17.2L1.8,19l7.7-7.7l7.7,7.7l1.8-1.8	l-7.7-7.7L19,1.8z"/>
			</svg>
		</button>
		
	</div>


	<div class="panel-content">

	</div>

</div>