
<button class="navigation-button" data-panel-button="navigation">

	<svg version="1.1" viewBox="0 0 23 17.7" xml:space="preserve">
		<path style="stroke:#F5F5F5;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;" d="M1.5,8.8h20"	/>
		<path style="stroke:#F5F5F5;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;" d="M1.5,1.5h20"	/>
		<path style="stroke:#F5F5F5;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;" d="M1.5,16.2h20" />
	</svg>

</button>

<div class="panel" data-panel="navigation">

</div>